.menu-service a{
  color: var(--vert);
  
}
.nav .nav-item .nav-link:hover{
  color: var(--orange); 
  background-color: var(--vert);
}

.active-link {
  background-color: var(--orange);
}

.nav .nav-item a .nav-link .active-link:hover{
  color: #FFFFFF;
}

.nav-link{
  width: 10vw;
  text-align: center;
  padding: 1em;
}
