
 <button type="button" class="btn" data-bs-toggle="modal"
        data-bs-target="#staticBackdrop1"><i class="fas fa-pencil-alt fa-2x text-warning"></i></button> 

<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel" style="margin: auto"> <i class="fas fa-pencil-altcd" aria-hidden="true"></i> Modifier un service</h5>
        <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addServiceform" (ngSubmit)="onSubmit()">
          <!-- {{addServiceform.value | json}} -->
          <div class="row">
            <div class="col-6">
              <label class="form-label">Nom Du service <label class="text-danger">*</label></label>
              <input [formControlName]="'libelle'" type="text" class="input mb-2">
              <!-- <div *ngIf="submitted && f.titre.errors">
                <div *ngIf="f.titre.errors.required || f.titre.errors.pattern" class="alert-danger">Le titre est incorrect</div>
              </div> -->
            </div>
            <div class="col-6">
              <label class="form-label">Nom des clients <label class="text-danger">*</label></label>
              <input [formControlName]="'nom_des_clients'" type="text" class="input mb-2">
              <!-- <div *ngIf="submitted && f.titre.errors">
                <div *ngIf="f.titre.errors.required || f.titre.errors.pattern" class="alert-danger">Le titre est incorrect</div>
              </div> -->
            </div>
            <div class="col-12">
              <label class="form-label">Résumé et périmètre <label class="text-danger">*</label></label>
            <textarea [formControlName]="'description'" class="input mb-2"></textarea>
            <!-- <div *ngIf="submitted && f.description.errors">
              <div *ngIf="f.description.errors.required || f.description.errors.pattern" class="alert-danger">Le sous-titre est incorrect</div>
            </div> -->
            </div>
            <div class="col-6">
              <label class="form-label"> Type de service <label class="text-danger">*</label></label>
              <input [formControlName]="'type_de_service'" type="text" class="input mb-2">
              <!-- <div *ngIf="submitted && f.titre.errors">
                <div *ngIf="f.titre.errors.required || f.titre.errors.pattern" class="alert-danger">Le titre est incorrect</div>
              </div> -->
            </div>
            <div class="col-6">
              <label class="form-label">Plages d’horaires: <label class="text-danger">*</label></label>
              <input [formControlName]="'plage_horaire'" type="text" class="input mb-2">
              <!-- <div *ngIf="submitted && f.sous_titre.errors">
                <div *ngIf="f.sous_titre.errors.required || f.sous_titre.errors.pattern" class="alert-danger">Le sous-titre est incorrect</div>
              </div> -->
            </div>
          </div>

          <div class="dropzone mt-3 mb-3">
            <img src="https://100dayscss.com/codepen/upload.svg" class="upload-icon"  alt=""/>
            <input type="file" [formControlName]="'file'" (change)="onSelectFile($event)" class="upload-input" />
          </div>
          <label class="form-label">Description des elements du service <label class="text-danger">*</label></label>
          <textarea [ngClass]="{ 'is-invalid': submitted  }" [formControlName]="'description_elements_service'" class="input mb-2"></textarea>
          <!-- <div *ngIf="submitted && f.avantages.errors">
            <div *ngIf="f.avantages.errors.required || f.avantages.errors.pattern" class="alert-danger">Le sous-titre est incorrect</div>
          </div> -->
          <label class="form-label">Benefices du client <label class="text-danger">*</label></label>
          <textarea [ngClass]="{ 'is-invalid': submitted  }" [formControlName]="'benefices_client'" class="input mb-2"></textarea>
          <!-- <div *ngIf="submitted && f.avantages.errors">
            <div *ngIf="f.avantages.errors.required || f.avantages.errors.pattern" class="alert-danger">Le sous-titre est incorrect</div>
          </div> -->
          <div class="row">
            <div class="col-6">
              <label class="form-label">Engagement /niveaux de service <label class="text-danger">*</label></label>
              <input [formControlName]="'engagement_niveaux_service'" type="text" class="input mb-2">
              <!-- <div *ngIf="submitted && f.prerequis.errors">
                <div *ngIf="f.prerequis.errors.required || f.prerequis.errors.pattern" class="alert-danger">Le sous-titre est incorrect</div>
              </div> -->
            </div>
            <div class="col-6">
              <label class="form-label">Indicateur de mesure et de qualite <label class="text-danger">*</label></label>
              <input [formControlName]="'indicateur_mesure_qualite'" type="text" class="input mb-2">
              <!-- <div *ngIf="submitted && f.outils.errors">
                <div *ngIf="f.outils.errors.required || f.outils.errors.pattern" class="alert-danger">Le sous-titre est incorrect</div>
              </div> -->
            </div>
          </div>


          <label class="form-label">Liste des applications métiers supportées  <label class="text-danger">*</label></label>
          <textarea [formControlName]="'liste_des_applications_metiers_supporte'" class="input mb-2"></textarea>
          <!-- <div *ngIf="submitted && f.conseils.errors">
            <div *ngIf="f.conseils.errors.required || f.conseils.errors.pattern" class="alert-danger">Le sous-titre est incorrect</div>
          </div> -->
          <div class="row">
            <div class="col-6">
              <label class="form-label">livrables <label class="text-danger">*</label></label>
              <input [formControlName]="'livrables'" type="text" class="input mb-2">
              <!-- <div *ngIf="submitted && f.titre.errors">
                <div *ngIf="f.titre.errors.required || f.titre.errors.pattern" class="alert-danger">Le titre est incorrect</div>
              </div> -->
            </div>

            <div class="col-6">
              <label class="form-label"> tarifs et Facturation <label class="text-danger">*</label></label>
              <input [formControlName]="'tarifs_et_Facturation'" type="text" class="input mb-2">
              <!-- <div *ngIf="submitted && f.titre.errors">
                <div *ngIf="f.titre.errors.required || f.titre.errors.pattern" class="alert-danger">Le titre est incorrect</div>
              </div> -->
            </div>
            <div class="col-12">
              <label class="form-label">suivi de gestion de la relation client <label class="text-danger">*</label></label>
              <input [formControlName]="'suivi_gestion_relation_client'" type="text" class="input mb-2">
              <!-- <div *ngIf="submitted && f.sous_titre.errors">
                <div *ngIf="f.sous_titre.errors.required || f.sous_titre.errors.pattern" class="alert-danger">Le sous-titre est incorrect</div>
              </div> -->
            </div>
          </div>
          <div class="text-center">
            <!-- <button type="submit"  disabled='addServiceform.invalid' class="btn btn-evaluer mt-1">Enregistrer</button> -->
            <button type="submit" class="btn btn-evaluer mt-1">Enregistrer</button>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
