
<app-details-service-bar [service]="service"></app-details-service-bar>
<div class="container-fluid pt-5">
    <div class="row mt-2 mx-5">
      <div class="col-4 pt-0">
        <div class="row">
          <div class="col-12">
            <div class="card shadow w-100 h-100 mt-2">
              <div class="card-body">
                <img src="https://source.unsplash.com/1080x585/?computer" class="img-fluid rounded-start" alt="...">
                <div>
                  <h3 class="card-title text-center">{{service.libelle | uppercase }}</h3>
                  <h5 class="card-title text-center">{{service.nom_des_clients }}</h5>
                  <h6 class="card-title text-center">{{service.type_de_service }}</h6>
                  <div>
                    <p class="card-text">{{service.description }}  </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="demande">
          <h3 class="text-color text-start pt-4 mb-4">Des Demandes sur {{ service.libelle }}</h3>
          <app-liste-demande [demandes]="demandes"></app-liste-demande>
        </div>
      </div>
    </div>
</div>

<!--
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <button (click)="sendLibelleService()" type="button" [routerLink]="['admin/sessions']" class="draw meet"> <i class="fas fa-tv"></i> Voir les sessions</button>
    </div>
    <div class="col">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <app-add-service></app-add-service>
      </div>
    </div>

  </div>

  <div class="row p-5 mb-3">
    <div class="col-xl-8 col-sm-12 col-md-12 parti-caracteristiques-img">
      <div class="card ">
        <div class="card-body">
          <img src="https://source.unsplash.com/1080x585/?computer" class="img-fluid rounded-start" alt="...">
          <ng-template #other>
            
          </ng-template>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-sm-12 col-md-12 parti-caracteristiques">
      <div class="card card-5">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        </div>
        <div class="card-body ">
          <h3 class="card-title text-center">{{service.libelle | uppercase }}</h3>
          <h5 class="card-title text-center">{{service.nom_des_clients }}</h5>
          <h6 class="card-title text-center">{{service.type_de_service }}</h6>

          <div class="scroller">
            <p class="card-text">{{service.description }}  </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="demande">
    <h3 class="text-color text-center mb-4">LSITE DES DEMANDES DE {{ service.libelle }}</h3>
    <app-liste-demande [demandes]="demandes"></app-liste-demande>
  </div>
</div>
-->