<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script> -->

<button type="button" class="draw meet" data-bs-toggle="modal"
        data-bs-target="#staticBackdrop">Faire une demande de service</button>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel" style="margin: auto"> Demander un service</h5>
        <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="demandeForm" (ngSubmit)="onsubmit()">
          <div class="row">
            <div class="col-12">
              <label class="form-label">Challenge ou objet <label class="text-danger">*</label></label>
            <input type="text" [ngClass]="{ 'is-invalid': submitted }" [formControlName]="'titre'" class="input mb-2">
            <!-- <div *ngIf="submitted && f.description.errors">
              <div *ngIf="f.description.errors.required || f.description.errors.pattern" class="alert-danger">Le sous-titre est incorrect</div>
            </div> -->
            </div>
          </div>
          <label class="form-label">Description de la demande <label class="text-danger">*</label></label>
          <textarea [ngClass]="{ 'is-invalid': submitted }" [formControlName]="'description'" class="form-control input mb-2" ></textarea>
          <!-- <div *ngIf="submitted && f.avantages.errors">
            <div *ngIf="f.avantages.errors.required || f.avantages.errors.pattern" class="alert-danger">Le sous-titre est incorrect</div>
          </div> -->

          <div class="col">
            <div class="form-group">
              <label class="form-label">Service <label class="text-danger">*</label></label>
              <select [ngClass]="{ 'is-invalid': submitted }" class="form-control input mb-2" name="ServiceId" id="ServiceId " [formControlName]="'ServiceId'">
                <option *ngFor="let s of services" value="{{s.id}}"> {{s.libelle}}</option>
              </select>
            </div>
          </div>
              <!-- calendar -->
          <div class="col-12">
            <label for="" class="form-label">Periode souhaité</label>
              <input type="date"
                [ngClass]="{ 'is-invalid': submitted }" class="form-control input mb-2"
                [formControlName]="'date_realisation'"
                name="date_realisation"
                required>
              </div>
              <!-- <div id="calendar"></div> -->
              <!-- calendar -->

              <!-- <head>
                <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
              </head>
              <body> -->
                <!-- <div id="calendar">
                  <div id="calendar_header"><i class="icon-chevron-left"></i>     
                    <h1></h1><i class="icon-chevron-right"></i>         
                  </div>
                  <div id="calendar_weekdays"></div>
                  <div id="calendar_content"></div>
                </div> -->
              <!-- </body> -->

          <div class="text-center">
            <button type="submit" data-bs-dismiss="modal" class="btn btn-evaluer mt-1">Enregistrer votre demande</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
<!-- <script>
  $(function(){function c(){p();var e=h();var r=0;var u=false;l.empty();while(!u){if(s[r]==e[0].weekday){u=true}else{l.append('<div class="blank"></div>');r++}}for(var c=0;c<42-r;c++){if(c>=e.length)
  {l.append('<div class="blank"></div>')}else{var v=e[c].day;var m=g(new Date(t,n-1,v))?'<div class="today">':"<div>";l.append(m+""+v+"</div>")}}
  var y=o[n-1];a.css("background-color",y).find("h1").text(i[n-1]+" "+t);f.find("div").css("color",y);l.find(".today").css("background-color",y);d()}
  function h(){var e=[];for(var r=1;r<v(t,n)+1;r++){e.push({day:r,weekday:s[m(t,n,r)]})}return e}function p(){f.empty();for(var e=0;e<7;e++){f.append("<div>"+s[e].substring(0,3)+"</div>")}}
  function d(){var t;var n=$("#calendar").css("width",e+"px");n.find(t="#calendar_weekdays, #calendar_content").css("width",e+"px").find("div").css({width:e/7+"px",height:e/7+"px","line-height":e/7+"px"});
  n.find("#calendar_header").css({height:e*(1/7)+"px"}).find('i[class^="icon-chevron"]').css("line-height",e*(1/7)+"px")}function v(e,t){return(new Date(e,t,0)).getDate()}function m(e,t,n){return(new Date(e,t-1,n)).getDay()}
  function g(e){return y(new Date)==y(e)}function y(e){return e.getFullYear()+"/"+(e.getMonth()+1)+"/"+e.getDate()}function b(){var e=new Date;t=e.getFullYear();n=e.getMonth()+1}var e=480;var t=2013;var n=9;var r=[];
  var i=["JANUARY","FEBRUARY","MARCH","APRIL","MAY","JUNE","JULY","AUGUST","SEPTEMBER","OCTOBER","NOVEMBER","DECEMBER"];
  var s=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];var o=["#16a085","#1abc9c","#c0392b","#27ae60","#FF6860","#f39c12","#f1c40f","#e67e22","#2ecc71","#e74c3c","#d35400","#2c3e50"];var u=$("#calendar");var a=u.find("#calendar_header");var f=u.find("#calendar_weekdays");var l=u.find("#calendar_content");b();c();a.find('i[class^="icon-chevron"]').on("click",function(){var e=$(this);var r=function(e){n=e=="next"?n+1:n-1;if(n<1){n=12;t--}else if(n>12){n=1;t++}c()};if(e.attr("class").indexOf("left")!=-1){r("previous")}else{r("next")}})})
</script> -->
<!-- <script src="../assets/js/calendar.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script> -->