button {
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 1em;
  padding: 1em;
  box-shadow: inset 0 0 0 1px var(--vert);
  color: var(--orange);
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
}
button::before, button::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}
.draw {
  transition: color 0.25s;
}
.draw::before, .draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}
.draw:hover {
  color: #60daaa;
}
.draw:hover::before, .draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before {
  border-top-color: #60daaa;
  border-right-color: #60daaa;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
  border-bottom-color: #60daaa;
  border-left-color: #60daaa;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
.meet:hover {
  color: var(--orange);
}
.meet::after {
  top: 0;
  left: 0;
}
.meet:hover::before {
  border-top-color: var(--orange);
  border-right-color: var(--orange);
}
.meet:hover::after {
  border-bottom-color: var(--orange);
  border-left-color: var(--orange);
  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}
.btn{
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: red;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  box-shadow: inset 0 0 0 0;
}


.fa-close{
  color: red;
}
.fa-file-alt{
  color: var(--orange);
}
.modal-content{
  border-radius: 2%;
}
.modal-header{
  background: #EFEFEF;
  border-radius: 5px;
}
.btn-evaluer{
  background: var(--vert);
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.17);
  border-radius: 5px;
  color: var(--white);
}
.wrap {
  position: relative;
}
.form-label {
  float: left;
}
label{
  color: rgba(68, 68, 68, 0.6);
}

textarea, input, select {
  background: #ECECEC;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.17);
  border-radius: 5px;
  border: none;
}
textarea:hover, input:hover ,select:hover{
  color: gray;
  border-color: var(--vert);
  border: solid 1px var(--vert);
  outline: none;
}
textarea:focus, input:focus, select:focus {
  color: gray;
  border-color: var(--vert);
  border: solid 1px var(--vert);
  box-shadow: 0 0 0 0.1rem var(--vert);
  outline: none;
}
.btn-default:focus{
  box-shadow: 0 0 0 0.1rem var(--orange);
}
.input{
  display: block;
  width: 100%;
  min-height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.upload-input {
  position: relative;
  top: -22px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

 /* calendar */

 body{
  background-color: #F5F1E9;
}
#calendar{
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  font-family: 'Lato', sans-serif;
}
#calendar_weekdays div{
  display:inline-block;
  vertical-align:top;
}
#calendar_content, #calendar_weekdays, #calendar_header{
  position: relative;
  width: 320px;
  overflow: hidden;
  float: left;
  z-index: 10;
}
#calendar_weekdays div, #calendar_content div{
  width:40px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  background-color: #FFFFFF;
  color: #787878;
}
#calendar_content{
  -webkit-border-radius: 0px 0px 12px 12px;
  -moz-border-radius: 0px 0px 12px 12px; 
  border-radius: 0px 0px 12px 12px;
}
#calendar_content div{
  float: left;
}
#calendar_content div:hover{
  background-color: #F8F8F8;
}
#calendar_content div.blank{
  background-color: #E8E8E8;
}
#calendar_header, #calendar_content div.today{
  zoom: 1;
  filter: alpha(opacity=70);
  opacity: 0.7;
}
#calendar_content div.today{
  color: #FFFFFF;
}
#calendar_header{
  width: 100%;
  height: 37px;
  text-align: center;
  background-color: #FF6860;
  padding: 18px 0;
  -webkit-border-radius: 12px 12px 0px 0px;
  -moz-border-radius: 12px 12px 0px 0px; 
  border-radius: 12px 12px 0px 0px;
}
#calendar_header h1{
  font-size: 1.5em;
  color: #FFFFFF;
  float:left;
  width:70%;
}
i[class^=icon-chevron]{
  color: #FFFFFF;
  float: left;
  width:15%;
  border-radius: 50%;
}

 /* *, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  }
   */
  /* body {
   overflow: hidden;
   font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
   font-weight: 100;
   color: rgba(255, 255, 255, 1);
   margin: 0;
   padding: 0;
   background: #4A4A4A;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
  } */
  
  /* #calendar {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    width: 420px;
    margin: 0 auto;
    height: 570px;
    overflow: hidden;
  }
  
  .header {
    height: 50px;
    width: 420px;
    background: rgba(66, 66, 66, 1);
    text-align: center;
    position:relative;
    z-index: 100;
  }
  
  .header h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 50px;
    font-weight: 100;
    letter-spacing: 1px;
  }
  
  .left, .right {
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    top: 50%;
    margin-top: -7.5px;
    cursor: pointer;
  }
  
  .left {
    border-width: 7.5px 10px 7.5px 0;
    border-color: transparent rgba(160, 159, 160, 1) transparent transparent;
    left: 20px;
  }
  
  .right {
    border-width: 7.5px 0 7.5px 10px;
    border-color: transparent transparent transparent rgba(160, 159, 160, 1);
    right: 20px;
  }
  
  .month {
    /*overflow: hidden;*/
    /** opacity: 0;
  }
  
  .month.new {
    -webkit-animation: fadeIn 1s ease-out;
    opacity: 1;
  }
  
  .month.in.next {
    -webkit-animation: moveFromTopFadeMonth .4s ease-out;
    -moz-animation: moveFromTopFadeMonth .4s ease-out;
    animation: moveFromTopFadeMonth .4s ease-out;
    opacity: 1;
  }
  
  .month.out.next {
    -webkit-animation: moveToTopFadeMonth .4s ease-in;
    -moz-animation: moveToTopFadeMonth .4s ease-in;
    animation: moveToTopFadeMonth .4s ease-in;
    opacity: 1;
  }
  
  .month.in.prev {
    -webkit-animation: moveFromBottomFadeMonth .4s ease-out;
    -moz-animation: moveFromBottomFadeMonth .4s ease-out;
    animation: moveFromBottomFadeMonth .4s ease-out;
    opacity: 1;
  }
  
  .month.out.prev {
    -webkit-animation: moveToBottomFadeMonth .4s ease-in;
    -moz-animation: moveToBottomFadeMonth .4s ease-in;
    animation: moveToBottomFadeMonth .4s ease-in;
    opacity: 1;
  }
  
  .week {
   background: #4A4A4A;
  }
  
  .day {
    display: inline-block;
    width: 60px;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    background: #4A4A4A;
    position: relative;
    z-index: 100;
  }
  
  .day.other {
   color: rgba(255, 255, 255, .3);
  }
  
  .day.today {
    color: rgba(156, 202, 235, 1);
  }
  
  .day-name {
    font-size: 9px;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: rgba(255, 255, 255, .5);
    letter-spacing: .7px;
  }
  
  .day-number {
    font-size: 24px;
    letter-spacing: 1.5px;
  }
  
  
  .day .day-events {
    list-style: none;
    margin-top: 3px;
    text-align: center;
    height: 12px;
    line-height: 6px;
    overflow: hidden;
  }
  
  .day .day-events span {
    vertical-align: top;
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 5px;
    height: 5px;
    line-height: 5px;
    margin: 0 1px;
  }
  
  .blue { background: rgba(156, 202, 235, 1); }
  .orange { background: rgba(247, 167, 0, 1); }
  .green { background: rgba(153, 198, 109, 1); }
  .yellow { background: rgba(249, 233, 0, 1); }
  
  .details {
    position: relative;
    width: 420px;
    height: 75px;
    background: rgba(164, 164, 164, 1);
    margin-top: 5px;
    border-radius: 4px;
  }
  
  .details.in {
    -webkit-animation: moveFromTopFade .5s ease both;
    -moz-animation: moveFromTopFade .5s ease both;
    animation: moveFromTopFade .5s ease both;
  }
  
  .details.out {
    -webkit-animation: moveToTopFade .5s ease both;
    -moz-animation: moveToTopFade .5s ease both;
    animation: moveToTopFade .5s ease both;
  }
  
  .arrow {
    position: absolute;
    top: -5px;
    left: 50%;
    margin-left: -2px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent rgba(164, 164, 164, 1) transparent;
    transition: all 0.7s ease;
  }
  
  .events {
    height: 75px;
    padding: 7px 0;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .events.in {
    -webkit-animation: fadeIn .3s ease both;
    -moz-animation: fadeIn .3s ease both;
    animation: fadeIn .3s ease both;
  }
  
  .events.in {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    animation-delay: .3s;
  }
  
  .details.out .events {
    -webkit-animation: fadeOutShrink .4s ease both;
    -moz-animation: fadeOutShink .4s ease both;
    animation: fadeOutShink .4s ease both;
  }
  
  .events.out {
    -webkit-animation: fadeOut .3s ease both;
    -moz-animation: fadeOut .3s ease both;
    animation: fadeOut .3s ease both;
  }
  
  .event {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: .5px;
    padding: 2px 16px;
    vertical-align: top;
  }
  
  .event.empty {
    color: #eee;
  }
  
  .event-category {
    height: 10px;
    width: 10px;
    display: inline-block;
    margin: 6px 0 0;
    vertical-align: top;
  }
  
  .event span {
    display: inline-block;
    padding: 0 0 0 7px;
  }
  
  .legend {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: rgba(60, 60, 60, 1);
    line-height: 30px;
  
  }
  
  .entry {
    position: relative;
    padding: 0 0 0 25px;
    font-size: 13px;
    display: inline-block;
    line-height: 30px;
    background: transparent;
  }
  
  .entry:after {
    position: absolute;
    content: '';
    height: 5px;
    width: 5px;
    top: 12px;
    left: 14px;
  }
  
  .entry.blue:after { background: rgba(156, 202, 235, 1); }
  .entry.orange:after { background: rgba(247, 167, 0, 1); }
  .entry.green:after { background: rgba(153, 198, 109, 1); }
  .entry.yellow:after { background: rgba(249, 233, 0, 1); }
  
  /* Animations are cool!  
  @-webkit-keyframes moveFromTopFade {
    from { opacity: .3; height:0px; margin-top:0px; -webkit-transform: translateY(-100%); }
  }
  @-moz-keyframes moveFromTopFade {
    from { height:0px; margin-top:0px; -moz-transform: translateY(-100%); }
  }
  @keyframes moveFromTopFade {
    from { height:0px; margin-top:0px; transform: translateY(-100%); }
  }
  
  @-webkit-keyframes moveToTopFade {
    to { opacity: .3; height:0px; margin-top:0px; opacity: 0.3; -webkit-transform: translateY(-100%); }
  }
  @-moz-keyframes moveToTopFade {
    to { height:0px; -moz-transform: translateY(-100%); }
  }
  @keyframes moveToTopFade {
    to { height:0px; transform: translateY(-100%); }
  }
  
  @-webkit-keyframes moveToTopFadeMonth {
    to { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
  }
  @-moz-keyframes moveToTopFadeMonth {
    to { opacity: 0; -moz-transform: translateY(-30%); }
  }
  @keyframes moveToTopFadeMonth {
    to { opacity: 0; -moz-transform: translateY(-30%); }
  }
  
  @-webkit-keyframes moveFromTopFadeMonth {
    from { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
  }
  @-moz-keyframes moveFromTopFadeMonth {
    from { opacity: 0; -moz-transform: translateY(30%); }
  }
  @keyframes moveFromTopFadeMonth {
    from { opacity: 0; -moz-transform: translateY(30%); }
  }
  
  @-webkit-keyframes moveToBottomFadeMonth {
    to { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
  }
  @-moz-keyframes moveToBottomFadeMonth {
    to { opacity: 0; -webkit-transform: translateY(30%); }
  }
  @keyframes moveToBottomFadeMonth {
    to { opacity: 0; -webkit-transform: translateY(30%); }
  }
  
  @-webkit-keyframes moveFromBottomFadeMonth {
    from { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
  }
  @-moz-keyframes moveFromBottomFadeMonth {
    from { opacity: 0; -webkit-transform: translateY(-30%); }
  }
  @keyframes moveFromBottomFadeMonth {
    from { opacity: 0; -webkit-transform: translateY(-30%); }
  }
  
  @-webkit-keyframes fadeIn  {
    from { opacity: 0; }
  }
  @-moz-keyframes fadeIn  {
    from { opacity: 0; }
  }
  @keyframes fadeIn  {
    from { opacity: 0; }
  }
  
  @-webkit-keyframes fadeOut  {
    to { opacity: 0; }
  }
  @-moz-keyframes fadeOut  {
    to { opacity: 0; }
  }
  @keyframes fadeOut  {
    to { opacity: 0; }
  }
  
  @-webkit-keyframes fadeOutShink  {
    to { opacity: 0; padding: 0px; height: 0px; }
  }
  @-moz-keyframes fadeOutShink  {
    to { opacity: 0; padding: 0px; height: 0px; }
  }
  @keyframes fadeOutShink  {
    to { opacity: 0; padding: 0px; height: 0px; }
  }
   */