<div class=" text-center mt-3 mb-5">
  <div class="row bar-title p-5">
    <div class="col">
      <h1>Communauté</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mb-3">
    <!-- parti ajouter un sujet -->
    <div class="col bg-light p-4 ">
      <div class="row row-comment rounded-3">
        <div class="col-1">
          <img src="./assets/img/img-client2.png" class="img-fluid rounded-circle mt-3"alt="">
        </div>
        <div class="col-11">
          <div class="row mb-3">
            <div class="col-9">
              <div class="form-group mt-2">
                <input type="text" name="" id="" class="form-control p-4" placeholder="Proposez un sujet ..." aria-describedby="helpId">
              </div>
            </div>
            <div class="col mt-3">
              <button type="button" class="btn color-btn text-light font-weight-bold p-3 mr-4" data-toggle="button" aria-pressed="false">Envoyer</button>
              <button type="button" class="btn btn-secondary text-light font-weight-bold p-3" data-toggle="button" aria-pressed="false">Annuler</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END ADD SUBJECT -->

  <!-- discution et liste des sujets -->
  <div class="row mb-3 bg-white">
    <!-- parti commentaires -->
    <div class="col-8 mt-2 ">
      <div class="row row-comment rounded-3 mb-3">
        <div class="col-1 bg-light">
          <img src="./assets/img/img-client2.png" class="img-fluid rounded-circle mt-3"alt="">
          <p class="taille-name ">Papa saliou Mbodj</p>
        </div>
        <div class="col-11">
          <div class="row">
            <div class="col-11 ">
              <div class="form-group mt-2">
                <input type="text" name="" id="" class="form-control p-3" placeholder=" la baisse des tarifs orange money" aria-describedby="helpId">
              </div>
              <div class="row">
                <div class="col-8">
                  <i class="far fa-thumbs-up"></i> <span class="badge bg-secondary mr-5">248</span>
                </div>
                <div class="col">
                  <small id="helpId" class="text-muted ml-3">il y'a 12heures</small>
                </div>
              </div>
            </div>
            <div class="col mt-3">
              <i class="fas fa-ellipsis-v icon-color"></i>
            </div>
          </div>
              <i class="far fa-thumbs-up icon-color "></i>
              <i class="fa fa-comment-alt icon-color ml-3" aria-hidden="true"></i>
        </div>
      </div>
      <!-- comment2 -->
    <div class="row row-comment rounded-3 mb-3">
      <div class="col-1 bg-light">
        <img src="./assets/img/img-client1.jpeg" class="img-fluid rounded-circle mt-3"alt="">
        <p class="taille-name ">Papa saliou Mbodj</p>
      </div>
      <div class="col-11">
        <div class="row">
          <div class="col-11 ">
            <div class="form-group mt-2">
              <input type="text" name="" id="" class="form-control p-3" placeholder=" la baisse des tarifs orange money" aria-describedby="helpId">
            </div>
            <div class="row">
              <div class="col-8">
                <i class="far fa-thumbs-up"></i> <span class="badge bg-secondary mr-5">248</span>
              </div>
              <div class="col">
                <small id="helpId" class="text-muted ml-3">il y'a 12heures</small>
              </div>
            </div>
          </div>
          <div class="col mt-3">
            <i class="fas fa-ellipsis-v icon-color"></i>
          </div>
        </div>
            <i class="far fa-thumbs-up icon-color "></i>
            <i class="fa fa-comment-alt icon-color ml-3" aria-hidden="true"></i>
      </div>
    </div>
    <!-- comment3 -->
    <div class="row row-comment rounded-3">
      <div class="col-1 bg-light">
        <img src="./assets/img/img-client3.png" class="img-fluid rounded-circle mt-3"alt="">
        <p class="taille-name ">Astou Lo</p>
      </div>
      <div class="col-11">
        <div class="row">
          <div class="col-11 ">
            <div class="form-group mt-2">
              <input type="text" name="" id="" class="form-control p-3" placeholder=" la baisse des tarifs orange money" aria-describedby="helpId">
            </div>
            <div class="row">
              <div class="col-8">
                <i class="far fa-thumbs-up"></i> <span class="badge bg-secondary mr-5">248</span>
              </div>
              <div class="col">
                <small id="helpId" class="text-muted ml-3">il y'a 12heures</small>
              </div>
            </div>
          </div>
          <div class="col mt-3">
            <i class="fas fa-ellipsis-v icon-color"></i>
          </div>
        </div>
            <i class="far fa-thumbs-up icon-color "></i>
            <i class="fa fa-comment-alt icon-color ml-3" aria-hidden="true"></i>
      </div>
    </div>
    </div>

    <!-- parti liste des sujet -->
    <div class="col ml-4 mt-5 mb-3 top-sujet">

          <h5 class="text-center text-color">Top 5 des sujets proposés</h5>

          <div class="col bg-white">
            <div class="row row-comment rounded-3 mb-3">
              <div class="col-2 bg-light ">
                <img src="./assets/img/img-client3.png" class="img-fluid rounded-circle mt-3"alt="">
                <p class="taille-name">fatimah Lo</p>
              </div>
              <div class="col-9 ">
                <div class="form-group mt-1">
                  <input type="text" name="" id="" class="form-control p-3" placeholder=" la baisse des tarifs orange money" aria-describedby="helpId">
                </div>
                <i class="far fa-thumbs-up"></i> <span class="badge bg-secondary">14</span>
              </div>
            </div>
            <!-- sujet2 -->
            <div class="row row-comment rounded-3 mb-3">
              <div class="col-2 bg-light ">
                <img src="./assets/img/img-furum-2.jpg" class="img-fluid rounded-circle mt-3"alt="">
                <p class="taille-name">fatimah Lo</p>
              </div>
              <div class="col-9 ">
                <div class="form-group mt-1">
                  <input type="text" name="" id="" class="form-control p-3" placeholder=" la baisse des tarifs orange money" aria-describedby="helpId">
                </div>
                <i class="far fa-thumbs-up"></i> <span class="badge bg-secondary">14</span>
              </div>
            </div>

            <!-- sujet3 -->
            <div class="row row-comment rounded-3 mb-3">
              <div class="col-2 bg-light ">
                <img src="./assets/img/img-furum-3.jpg" class="img-fluid rounded-circle mt-3"alt="">
                <p class="taille-name">fatimah Lo</p>
              </div>
              <div class="col-9 ">
                <div class="form-group mt-1">
                  <input type="text" name="" id="" class="form-control p-3" placeholder=" la baisse des tarifs orange money" aria-describedby="helpId">
                </div>
                <i class="far fa-thumbs-up"></i> <span class="badge bg-secondary">14</span>
              </div>
            </div>

            <!-- sujet4 -->
            <div class="row row-comment rounded-3 mb-3">
              <div class="col-2 bg-light ">
                <img src="./assets/img/img-client3.png" class="img-fluid rounded-circle mt-3"alt="">
                <p class="taille-name">fatimah Lo</p>
              </div>
              <div class="col-9 ">
                <div class="form-group mt-1">
                  <input type="text" name="" id="" class="form-control p-3" placeholder=" la baisse des tarifs orange money" aria-describedby="helpId">
                </div>
                <i class="far fa-thumbs-up"></i> <span class="badge bg-secondary">14</span>
              </div>
            </div>

            <!-- sujet5 -->
            <div class="row row-comment rounded-3 mb-3">
              <div class="col-2 bg-light ">
                <img src="./assets/img/img-client3.png" class="img-fluid rounded-circle mt-3"alt="">
                <p class="taille-name">fatimah Lo</p>
              </div>
              <div class="col-9 ">
                <div class="form-group mt-1">
                  <input type="text" name="" id="" class="form-control p-3" placeholder=" la baisse des tarifs orange money" aria-describedby="helpId">
                </div>
                <i class="far fa-thumbs-up"></i> <span class="badge bg-secondary">14</span>
              </div>
            </div>
      </div>
    </div>
  </div>

<!-- PARTIE TEMOIGNAGE -->

  <div class="row mb-3 bg-white">
    <i class="fa fa-comment text-color" aria-hidden="true">laissez nous votre temoignage</i>
    <div class="col bg-white p-4">
      <div class="row row-comment rounded-3">
        <div class="col-1 bg-light">
          <img src="./assets/img/img-client2.png" class="img-fluid rounded-circle mt-3"alt="">
          <p>Papa saliou Mbodj</p>
        </div>
        <div class="col-11">
          <div class="row">
            <div class="col-11 ">
              <div class="form-group mt-2">
                <input type="text" name="" id="" class="form-control p-5" placeholder="Ajoutez ici votre temoignage" aria-describedby="helpId">
              </div>
            </div>
            <div class="col mt-3">
              <i class="fas fa-ellipsis-v icon-color"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
