@import "../fiche/fiche.component";
button {
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 1em;
  padding: 1em;
  box-shadow: inset 0 0 0 1px var(--vert);
  color: var(--orange);
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
}
button::before, button::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}
.draw {
  transition: color 0.25s;
}
.draw::before, .draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}
.draw:hover {
  color: #60daaa;
}
.draw:hover::before, .draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before {
  border-top-color: #60daaa;
  border-right-color: #60daaa;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
  border-bottom-color: #60daaa;
  border-left-color: #60daaa;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
.meet:hover {
  color: var(--orange);
}
.meet::after {
  top: 0;
  left: 0;
}
.meet:hover::before {
  border-top-color: var(--orange);
  border-right-color: var(--orange);
}
.meet:hover::after {
  border-bottom-color: var(--orange);
  border-left-color: var(--orange);
  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}
.btn{
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: red;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  box-shadow: inset 0 0 0 0;
}
.fa-close{
  color: red;
}
.fa-file-alt{
  color: var(--orange);
}
.modal-content{
  border-radius: 2%;
}
.modal-header{
  background: #EFEFEF;
  border-radius: 5px;
}
.btn-evaluer{
  background: var(--vert);
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.17);
  border-radius: 5px;
  color: var(--white);
}
.wrap {
  position: relative;
}
.btn-danger{
  color: var(--orange);
  box-shadow: var(--orange);
  font-size: larger;
}
.btnAdd{
  border: solid 1px var(--vert);
  box-shadow: var(--vert);
  margin: 1.5%;
}
.btnDel{
  background: none;
  width: 75%;
  box-sizing: border-box;
  padding: 0.1em;
  color: var(--orange);
  border: solid 1px red;
  font-size: inherit;
  position: relative;
  vertical-align: middle;
}
.etape button{
  background: none;
  box-sizing: border-box;
  margin: 1em;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
}
label{
  color: rgba(68, 68, 68, 0.6);
}

textarea, input, select {
  background: #ECECEC;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.17);
  border-radius: 5px;
  border: none;
}
textarea:hover, input:hover, select:hover {
  color: gray;
  border-color: var(--vert);
  border: solid 1px var(--vert);
  outline: none;
}
textarea:focus, input:focus, select:focus {
  color: gray;
  border-color: var(--vert);
  border: solid 1px var(--vert);
  box-shadow: 0 0 0 0.1rem var(--vert);
  outline: none;
}
.btn-default:focus{
  box-shadow: 0 0 0 0.1rem var(--orange);
}
.input{
  display: block;
  width: 100%;
  min-height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.dropzone {
  width: 100%;
  /*height: 15%;*/
  border: 1px dashed #999;
  border-radius: 3px;
  text-align: center;
}
.upload-icon {
  margin: 10px 2px 2px 2px;
}
.upload-input {
  position: relative;
  top: -22px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
select {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMjAwJyBoZWlnaHQ9JzIwMCcgZmlsbD0iIzAwMDAwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHg9IjBweCIgeT0iMHB4Ij48cGF0aCBmaWxsPSIjMDAwMDAwIiBkPSJNMTIgMThsLTExLjAxOS0xMWgyMi4wMzh6Ii8+PC9zdmc+);
  background-size: .8em;
  background-repeat: no-repeat;
  background-position: calc(100% - .4em) center;
}
.text {
  text-transform: uppercase;
  background: linear-gradient(to right, var(--vert) 0%, var(--orange) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: xx-large;
}

.containers{
  height:270px;
  position:relative;
  max-width: 320px;
  margin: auto;
  .imageWrapper{
    border: 3px solid #888;
    width:70%;
    padding-bottom:70%;
    /*border-radius:50%;*/
    overflow:hidden;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    img{
      height:105%;
      width:initial;
      max-height:100%;
      max-width: initial;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.file-upload {
  position: relative;
  overflow: hidden;
  margin: 10px; }

.file-upload {
  position: relative;
  overflow: hidden;
  margin: 10px;
  width:100%;
  max-width:150px;
  text-align:center;
  color:#fff;
  font-size:1.2em;
  background: transparent;
  border: 2px solid #888;
  padding: .85em 1em;
  display:inline;
  -ms-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  &:hover{
    background:#999;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
  }
}

.file-upload input.file-input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  height:100%;
}
