@import "../../../../assets/scss/style.css";
.bg-bar{
  background: var(--vert);
  color :white;
}




.row-container:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
button {
  position: relative;
  bottom: 1px;
}
@media screen and (max-width: 992px) {
  .le-hide {
    visibility: hidden;
  }
}

