<nav class="d-flex p-4 topbar align-items-center">
  <div>
    <h3 class="text-white">
      <span>Details de l'utilisateur</span>
    </h3>
    <ol class="breadcrumb mt-3">
      <li class="breadcrumb-item"><a [routerLink]="['/utilisateur']" class="text-white text-decoration-none">Liste utilisateur</a></li>
    </ol>
  </div>
  <div class="ms-auto"></div>
  <img src="../../assets/img/{{titre.toLowerCase()}}-icone.png" alt="">
</nav>
<div class="container mt-3">
  <div class="row">
    <div class="col-xl-4 col-xxl-4 col-lg-12 my-auto mr-3">
      <div class="container-profile d-flex justify-content-center align-items-center">
        <div class="card" style="border: 1px solid var(--orange);
          box-shadow: 2px 2px 3px var(--orange);box-sizing: border-box;border-radius: 10px;">
          <div class="card-header" style="background: var(--fond); border-radius: 10px;">
            <div class="text-center mx-auto mb-1">
              <img *ngIf="!user.avatar; else pp" src="../../assets/img/birahim.jpg" class="profile rounded-circle shadow" width="100" alt="">
              <ng-template #pp>
                <img src="data:image/jpeg;base64,{{user.avatar}}" class="profile rounded-circle shadow" width="80" alt="">
              </ng-template>
            </div>
            <h4 class="mb-0 mt-2 text-center">{{user.nomComplet}}</h4>
            <span class="text-muted d-block mb-2 mt-1 text-center">{{user.profession}}</span>
          </div>
          <div class="card-body scroller">
            <div class="row">
              <h6 class="fw-bold text-center" style="color: var(--orange); font-size: large; text-decoration: underline">Realisations</h6>
            </div>
            <div class="row px-3 mt-2">
              <div class="col-6" *ngFor="let cv of tab">
                <div class="row" [style.color]="cv.color">
                  <p class="text-center fw-bold" style="font-size: unset">{{cv.cle}}</p>
                </div>
                <div class="row" style="color: var(--orange)">
                  <p class="text-center" style="font-size: unset">{{cv.valeur}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 col-xxl-8 col-lg-12 shadow">
      <div class="container" style="padding-left: 3%; padding-right: 3%;">
        <div class="row mt-4">
          <div class="d-flex justify-content-between">
            <div></div>
            <select name="select" id="select" class="form-control form-select"
                    [ngModel]="selectedDevice" (ngModelChange)="onChange($event)">
              <option [ngValue]="0">Tous les services</option>
              <option *ngFor="let s of allservices" [value]="s.id">{{s.libelle}}</option>
            </select>
            <div></div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between mt-3 mb-2">
        <div class="px-5" style="font-size: larger" *ngFor="let td of tabDem">
          <span class="fw-bold" style="color: var(--vert)" title="Demande {{td?.cle}}">Dem. {{td?.cle}} : </span>
          <span style="color: var(--orange)">{{td?.valeur}}</span>
        </div>
      </div>
      <div class="container shadow mt-3" style="background: var(--white)">
        <div class="row le-hide">
          <div class="col-lg-12" style="border-bottom: solid 1px var(--orange)">
            <div class="m-0 row p-3" *ngIf="selectedDevice === 0; else noselecthead">
              <div class="col-sm-2 col-lg-2 m-auto text-center">
                <strong class="pl-lg-2">Challenge</strong>
              </div>
              <div class="col-sm-2 col-lg-2 m-auto text-center">
                <strong>Description</strong>
              </div>
              <div class="col-sm-2 col-lg-2 m-auto text-center">
                <strong>Date de realisation</strong>
              </div>
              <div class="col-sm-2 col-lg-2 m-auto text-center">
                <strong>Service</strong>
              </div>
              <div class="col-sm-3 col-lg-3 m-auto text-center">
                <strong>Statut</strong>
              </div>
              <div class="col-sm-1 col-lg-1 m-auto text-center">
                <strong></strong>
              </div>
            </div>
            <ng-template #noselecthead>
              <div class="m-0 row p-3">
                <div class="col-sm-3 col-lg-3 m-auto text-center">
                  <strong class="pl-lg-2">Challenge</strong>
                </div>
                <div class="col-sm-3 col-lg-3 m-auto text-center">
                  <strong>Description</strong>
                </div>
                <div class="col-sm-2 col-lg-2 m-auto text-center">
                  <strong>Date de realisation</strong>
                </div>
                <div class="col-sm-3 col-lg-3 m-auto text-center">
                  <strong>Statut</strong>
                </div>
                <div class="col-sm-1 col-lg-1 m-auto text-center">
                  <strong></strong>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
        <div class="row" *ngIf="demandes.length != 0; else nodemande">
          <div class="col-sm-4 col-lg-12 mt-2 mb-2" *ngFor="let d of demandes | paginate: { itemsPerPage: 3, currentPage: p }; let i=index;">
            <div class="m-0 row row-container p-3" style="background: var(--fond)" *ngIf="selectedDevice === 0; else noselectbody">
              <div class="col-sm-2 col-lg-2 m-auto text-center">
                {{d.titre}}
              </div>
              <div class="col-sm-2 col-lg-2 m-auto text-center" title="{{d.description}}">
                {{d.description | summarize: 50}}
              </div>
              <div class="col-sm-2 col-lg-2 m-auto text-center">
                {{d.date_realisation | date: 'MMM d, y'}}
              </div>
              <div class="col-sm-2 col-lg-2 m-auto text-center">
                {{services[i].libelle}}
              </div>
              <div class="col-sm-3 col-lg-3 m-auto text-center" id="statut{{d.id}}">
                <i class="fa fa-circle circle{{d.id}}" [style.color]="color[i]"></i>
                <span class="span{{d.id}}" style="margin-left: 3%">{{d.statut}}</span>
              </div>
              <div class="col-sm-1 col-lg-1 m-auto text-center"
                   *ngIf="d.statut?.toLowerCase() === 'nouvelle' || d.statut?.toLowerCase() === 'traitee'
                   || d.statut?.toLowerCase() === 'en attente'; else nopencil;">
                <button class="btn btn-sm btn{{d.id}}" (click)="changeStatut($event)">
                  <i class="fas fa-pencil-alt" id="{{d.id}}" style="color: #FFA000"></i>
                </button>
              </div>
              <ng-template #nopencil>
                <div class="col-sm-1 col-lg-1 m-auto text-center" *ngIf="d.statut?.toLowerCase() === 'validee'; else noexcel">
                  <button type="button" class="border-0 btn btn-sm" style="float: right" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    <i class="fas fa-file-excel" style="color: green"></i>
                  </button>
                  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                       data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                       aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" >
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="text modal-title" id="staticBackdropLabel" style="margin: auto">modal</h1>
                          <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fas fa-times"></i>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>modal</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <ng-template #noexcel>
                  <div class="col-sm-1 col-lg-1 m-auto text-center"></div>
                </ng-template>
              </ng-template>
            </div>
            <ng-template #noselectbody>
              <div class="m-0 row row-container p-3" style="background: var(--fond)">
                <div class="col-sm-3 col-lg-3 m-auto text-center">
                  {{d.titre}}
                </div>
                <div class="col-sm-3 col-lg-3 m-auto text-center">
                  {{d.description | summarize: 100}}
                </div>
                <div class="col-sm-2 col-lg-2 m-auto text-center">
                  {{d.date_realisation | date: 'MMM d, y'}}
                </div>
                <div class="col-sm-3 col-lg-3 m-auto text-center" id="statut{{d.id}}">
                  <i class="fa fa-circle circle{{d.id}}" [style.color]="color[i]"></i>
                  <span class="span{{d.id}}" style="margin-left: 3%">{{d.statut}}</span>
                </div>
                <div class="col-sm-1 col-lg-1 m-auto text-center"
                     *ngIf="d.statut?.toLowerCase() === 'nouvelle' || d.statut?.toLowerCase() === 'traitee'
                   || d.statut?.toLowerCase() === 'en attente'; else nopencil;">
                  <button class="btn btn-sm btn{{d.id}}" (click)="changeStatut($event)">
                    <i class="fas fa-pencil-alt" id="{{d.id}}" style="color: #FFA000"></i>
                  </button>
                </div>
                <ng-template #nopencil>
                  <div class="col-sm-1 col-lg-1 m-auto text-center"></div>
                </ng-template>
              </div>
            </ng-template>
          </div>
          <pagination-controls (pageChange)="p = $event" class="text-center float-right mt-3"></pagination-controls>
        </div>
        <ng-template #nodemande>
          <div class="row">
            <h5 class="mb-3 mt-3 text-center text-danger">Aucune donnee n'est disponible pour le moment</h5>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
