@import "../home/home.component.css";

.container-fluid{
  background-color: var(--vert);
}
.petaaw, .head{
  color: var(--orange);
}
.row-description{
  background: rgba(196, 196, 196, 0.16);
}
.petaaw1{
  width: 12%;
}
.tab{
  font-size: x-large;
}
.titre{
  color: var(--orange);
}
