<nav class="navbar navbar-dark navbar-expand-lg menu navbar-nav nav-link pt-0 menu">
  <ul style="font-size: large" class="nav d-flex justify-content-between shadow w-25 pl-3 pr-3">
    <li class="nav-item mx-auto">
      <a routerLink="/home/kooriibox/koori" [routerLinkActive]="['active-link']" class="nav-link scroll-link">Koori</a>
    </li>
    <li class="nav-item mx-auto">
      <a routerLink="/home/kooriibox/ibox" [routerLinkActive]="['active-link']" class="nav-link scroll-link">Ibox</a>
    </li>
  </ul>
</nav>
