/* for bloc Innovation lab on the carousel */
.news{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  z-index: 2;
}
.news .news-title{
  animation: showup 15s infinite;
  padding-left: 2%;
  font-size: 2em;
  color: var(--vert);
}
.news .news-text{
  width:0px;
  padding-left: 2%;
  background-color: transparent;
  animation: reveal 15s infinite;
}
.news .news-text > span{
  margin-left:-355px;
  animation: slidein 15s infinite;
  font-size: 1.2em;
  color: #338f8e;
}

@keyframes showup {
  0% {opacity:0;}
  20% {opacity:1; }
  80% {opacity:1; }
  100% {opacity:0;}
}

@keyframes slidein {
  0% { margin-left:-800px; opacity: 0;}
  20% { margin-left:-800px; opacity: 0;}
  35% { margin-left:0px; opacity: 1;}
  100% { margin-left:0px; opacity: 1;}
}

@keyframes reveal {
  0% {opacity:0;width: 300px;}
  20% {opacity:1;width: 300px; }
  30% {width:450px; background-color: transparent}
  80% {opacity:1; background-color: #fff;}
  100% {opacity:0;width:450px; background-color: #fff;}
}

/* for carousel */
.carousel-item > img{
  height: 60vh;
}

.carousel-indicators{
  position: absolute;
  top: 5%;
}

/* fghjkl */
.worko-tabs .state {
  position: absolute;
  left: -10000px;
}
.worko-tabs .flex-tabs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.worko-tabs .flex-tabs .tab {
  flex-grow: 1;
}
.worko-tabs .flex-tabs .panel {
  background-color: #fff;
  padding: 20px;
  min-height: 300px;
  display: none;
  width: 100%;
  flex-basis: auto;
}
.panel{
  font-size: large;
}
.worko-tabs .tab {
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  background-color: #eee;
  cursor: pointer;
  border-left: 10px solid var(--vert);
  color: var(--vert);
}
.worko-tabs .tab:hover {
  background-color: #fff;
}
#tab-one:checked ~ .tabs #tab-one-label, #tab-two:checked ~ .tabs #tab-two-label, #tab-three:checked ~ .tabs #tab-three-label, #tab-four:checked ~ .tabs #tab-four-label,#tab-five:checked ~ .tabs #tab-five-label {
  background-color: var(--vert);
  cursor: default;
  border-left-color: var(--orange);
  color: var(--white);
}
#tab-one:checked ~ .tabs #tab-one-panel, #tab-two:checked ~ .tabs #tab-two-panel, #tab-three:checked ~ .tabs #tab-three-panel, #tab-four:checked ~ .tabs #tab-four-panel, #tab-five:checked ~ .tabs #tab-five-panel {
  display: block;
}
@media (max-width: 600px) {
  .flex-tabs {
    flex-direction: column;
  }
  .flex-tabs .tab {
    background: #fff;
    border-bottom: 1px solid #ccc;
  }
  .flex-tabs .tab:last-of-type {
    border-bottom: none;
  }
  .flex-tabs #tab-one-label {
    order: 1;
  }
  .flex-tabs #tab-two-label {
    order: 3;
  }
  .flex-tabs #tab-three-label {
    order: 5;
  }
  .flex-tabs #tab-four-label {
    order: 7;
  }
  .flex-tabs #tab-five-label {
    order: 9;
  }
  .flex-tabs #tab-one-panel {
    order: 2;
  }
  .flex-tabs #tab-two-panel {
    order: 4;
  }
  .flex-tabs #tab-three-panel {
    order: 6;
  }
  .flex-tabs #tab-four-panel {
    order: 8;
  }
  .flex-tabs #tab-five-label-panel {
    order: 10;
  }
  #tab-one:checked ~ .tabs #tab-one-label, #tab-two:checked ~ .tabs #tab-two-label, #tab-three:checked ~ .tabs #tab-three-label, #tab-four:checked ~ .tabs #tab-four-label {
    border-bottom: none;
  }
  #tab-one:checked ~ .tabs #tab-one-panel, #tab-two:checked ~ .tabs #tab-two-panel, #tab-three:checked ~ .tabs #tab-three-panel, #tab-four:checked ~ .tabs #tab-four-panel {
    border-bottom: 1px solid #ccc;
  }
}

/*Testimonial*/
.col-center {
  margin: 0 auto;
  float: none !important;
}
#myCarousel.carousel {
  padding: 0 70px;
}
.testimonial .carousel .carousel-item {
  color: #999;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 255px;
}
.carousel .carousel-item .img-box {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}
.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}
.carousel .testimonial {
  padding: 15px 0 10px;
}
.carousel .overview {
  font-style: italic;
}
.carousel .overview b {
  text-transform: uppercase;
  color: var(--vert);
}
.carousel-control-prev, .carousel-control-next {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 49%;
  background: none;
}
.carousel-control-prev1, .carousel-control-next1 {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 49%;
  background: var(--vert);
  margin-left: -3%;
  margin-right: -3%;
  border-radius: 50%;
}
.carousel-control-prev i, .carousel-control-next i {
  font-size: 68px;
  line-height: 42px;
  position: absolute;
  display: inline-block;
  color: var(--vert);
  text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel-indicators {
  bottom: -10px;
}
.carousel-indicators li, .carousel-indicators li.active {
  width: 12px;
  height: 12px;
  margin: 1px 3px;
  border-radius: 50%;
  border: none;
}
.carousel-indicators li {
  background: #999;
  border-color: transparent;
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {
  background: #555;
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}

/*Partenaires*/
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 60s linear 3s infinite ;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
}

/*Projets recents caroussels*/
@media (max-width: 767px) {
  .partner .carousel-inner .carousel-item > div {
    display: none;
  }
  .partner .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.partner .carousel-inner .carousel-item.active,
.partner .carousel-inner .carousel-item-next,
.partner .carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

  .partner .carousel-inner .carousel-item-end.active,
  .partner .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .partner .carousel-inner .carousel-item-start.active,
  .partner .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.partner .carousel-inner .carousel-item-end,
.partner .carousel-inner .carousel-item-start {
  transform: translateX(0);
}


/* for Koori and Ibox cards */
.bloc-presentation{
  position: relative;
  width: 100%;
  margin-bottom: 0;
  height: 90vh;
  background-color: #fff;
  /* background-image: url('src/assets/img/thinking2.png');
  background-repeat: no-repeat;
  background-size: cover; */
}

.bloc-bienvenus{
  background-color: #fff;
  padding: 2vh 0;
}
.bloc-bienvenus > h1{
  text-align: center;
  color: #338f8e;
  margin-bottom: 2.5vh;
}
.bloc-bienvenus > p{
  font-size: 1.2rem;
}
.containeur{
	position: relative;
	width: 55vw;
  height: 40vh;
	display: flex;
	justify-content: space-evenly;
  align-items: center;
  margin-top: -10vh;
  /* background-color: rgba(255, 255, 255, 0.375); */
  border-radius: 15px;
}
.containeur .card{
	position: relative;
	height: 72%;
  border-radius: 10px;
	background: #fff;
   	display: flex;
   	width: 46%;
   	/* margin: 10px; */
}
.containeur .card .imgBx{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: #338f8e;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: 0.5s ease-in-out;
	width: 100%;
}
.containeur .card:hover .imgBx{
	width: 150px;
	height: 150px;
	left: -75px;
	top: calc(50% - 75px);
	transition: 0.5s ease-in-out;
	background: #eee;
	border-radius: 5px;
}
.containeur .card .imgBx:before{
 
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	font-style: 6em;
	color: #fff;
	font-weight: 700;
}

.containeur .card .imgBx img{
	width: 100%;
	transition: 0.5s ease-in-out;
}

.containeur .card:hover .imgBx img{
	max-width: 75px;
}

.containeur .card .content{
	position: absolute;
	right: 0;
	width: calc(100% - 75px);
	height: 100%;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
  text-align: center;
}

.containeur .card .content h3{
	margin-bottom: 5px;
	font-size: 24px;
  text-align: center;
}

.containeur .card .content a{
	display: inline-block;
	margin-top: 10px;
	padding: 5px 10px;
	background: #338f8e;
	text-decoration: none;
	color: #fff;
	padding: 10px 15px 10px 15px;
	border-radius: 5px;
}

@media (max-width: 1400px) {
  .containeur{
    height: 60vh;
    width: 70%;
  }
  .containeur .card{
    height: 80%;
    background-color: #eee;
  }
  .bloc-presentation{
    display: block;
    min-height: 45vh;
  }
  .bienvenus{
    display: none;
  }
  .containeur .card .imgBx{
    height: 60%;
    background-color: #eee;
  }
  .containeur .card .content{
    width: 100%;
    background-color: #FFF;
  }
}

@media (max-width: 992px){
	.containeur{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
		width: 60%;
	}
	.containeur .card{
		width: 80%;
    height: 45%;
    margin: auto;
	}
  .containeur .card .imgBx{
    height: 100%;
    background-color: #eee;
  }
}

@media (max-width: 760px){
.containeur{
  width: 100%;
  background-color: #eee;
  height: 100vh;
}
.containeur .card{
	max-width: 400px;
	flex-direction: column;
}
.containeur .card .imgBx,
.containeur .card:hover .imgBx
{
  display: none;
}
.containeur .card .content{
	position: relative;
	width: 100%;
}
}
.bienvenus{
  width: 50%;
  margin: auto;
  margin-bottom: 2.5vh;
  text-align: center;
}

.list-partenaires{
  height: 100vh;
  background-color: #338f8e80
}

