<div class="container-fluide">
  <div class="row">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://assets-global.website-files.com/60870cca519aca7849a9262d/611161c1fb89103025e429c0_innovation-rh.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/img/Photographie Studio Facebook Couverture (1).png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/img/Photographie Studio Facebook Couverture.png" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="bloc-presentation">
    <div class="row justify-content-center mb-4">

      <div class="containeur">
        <div class="card">
          <div class="imgBx" data-taxt="Design">
              <img src="assets/img/koori.png" alt="">
          </div>
          <div class="content">
            <div>
              <h3>Description Koori</h3>
              <p>{{ koori.description | summarize: 160 }}</p>
              <a routerLink="/home/kooriibox/koori">Read More</a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="imgBx" data-taxt="Code">
            <img src="assets/img/ibox.png" alt="">  
          </div>
          <div class="content">
            <div>
              <h3>Description Ibox</h3>
              <p>{{ ibox.description | summarize: 160}}</p>
              <a routerLink="/home/kooriibox/ibox">Read More</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="bloc-bienvenus">
    <p class="bienvenus">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis culpa nihil laboriosam ipsa, sapiente dolorum ad fuga aperiam. Error, quo pariatur quod fuga, perferendis cum culpa reprehenderit rerum eius ea nam. Itaque cupiditate aut libero eligendi nam? Perferendis fuga totam ipsam atque quidem, voluptatibus tempora quos numquam eligendi nulla suscipit?
    </p>
  </div>

  <div class="container">



    <!--Les services-->
    <div class="mb-4">
      <!--title-->
      <div class="mb-4">
        <h3 class="text-color text-center">NOS SERVICES</h3>
      </div>
      <!--services-->
      <div class="services">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
          <div class="col" *ngFor="let s of services; let i = index">
            <div class="card">
              <div class="card-image">
                <div class="wrap">
                  <img class="img-fluid" src="assets/img/bootcamp.jpg" alt="image 1">
                </div><!-- card image -->
              </div>
              <div class="card-content bg-light text-dark">
                <span class="card-title">{{s.libelle}}</span>
                <button #ref  type="button" (click)="slideToggle(ref)" [attr.data-target]="'show'+i" class="show btn btn-custom float-right" aria-label="Left Align"><i class="fa fa-ellipsis-v"></i></button>
              </div><!-- card content -->
              <div class="card-reveal {{'show'+i}}">
                <span class="card-title">{{s.libelle}}</span>
                <button #ref (click)="slideToggle(ref)" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <p>{{'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.' | summarize: 60}}</p>
                <div class="mt-3 text-center">
                  <button type="button" class="btn btn-outline-info btn-sm">Read More</button>
                </div>
              </div><!-- card reveal -->
            </div>
          </div>

        </div>
      </div>

    </div>

    <!--Les projets recents-->
    <div class=" mb-4">
      <!--title-->
      <div class=" row mb-4">
        <h3 class="text-color text-center">PROJETS RECENTS</h3>
      </div>
      <!--projects per services-->
      <div class=" row worko-tabs">

        <input class="state" type="radio" title="tab-one" name="tabs-state" id="tab-one" checked />
        <input class="state" type="radio" title="tab-two" name="tabs-state" id="tab-two" />
        <input class="state" type="radio" title="tab-three" name="tabs-state" id="tab-three" />
        <input class="state" type="radio" title="tab-four" name="tabs-state" id="tab-four" />
        <input class="state" type="radio" title="tab-five" name="tabs-state" id="tab-five" />

        <div class="tabs flex-tabs text-center">
          <label for="tab-one" id="tab-one-label" class="tab">Tous les projets</label>
          <label for="tab-two" id="tab-two-label" class="tab">BootCamp</label>
          <label for="tab-three" id="tab-three-label" class="tab">Raid Innovation</label>
          <label for="tab-four" id="tab-four-label" class="tab">Quick Design</label>
          <label for="tab-five" id="tab-five-label" class="tab">Day 4 Innovation</label>

          <div id="tab-one-panel" class="panel active">
            <div class="container text-center my-3">
              <div class=" partner row mx-auto my-auto justify-content-center">
                <div id="carouselImages" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                      <div class="col-md-3" style="margin-right: 1%">
                        <div class="card">
                          <div class="card-img">
                            <img src="assets/img/bootcamp.jpg" class="img-fluid">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="col-md-3" style="margin-right: 1%">
                        <div class="card">
                          <div class="card-img">
                            <img src="assets/img/raid_innovation.jpeg" class="img-fluid">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="col-md-3" style="margin-right: 1%">
                        <div class="card">
                          <div class="card-img">
                            <img src="assets/img/post_raid.jpg" class="img-fluid">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="col-md-3" style="margin-right: 1%">
                        <div class="card">
                          <div class="card-img">
                            <img src="assets/img/quick_design.jpg" class="img-fluid">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="carousel-control-prev carousel-control-prev1 w-aut" href="#carouselImages" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  </a>
                  <a class="carousel-control-next carousel-control-next1 w-aut" href="#carouselImages" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div id="tab-two-panel" class="panel">
            <div class="container text-center my-3">
              <div class=" partner row mx-auto my-auto justify-content-center">
                <div id="carouselImages" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                      <div class="col-md-3" style="margin-right: 1%">
                        <div class="card">
                          <div class="card-img">
                            <img src="assets/img/bootcamp.jpg" class="img-fluid">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="col-md-3" style="margin-right: 1%">
                        <div class="card">
                          <div class="card-img">
                            <img src="assets/img/raid_innovation.jpeg" class="img-fluid">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="carousel-control-prev carousel-control-prev1 w-aut" href="#carouselImages" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  </a>
                  <a class="carousel-control-next carousel-control-next1 w-aut" href="#carouselImages" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div id="tab-three-panel" class="panel">
            <div class="container text-center my-3">
              <div class=" partner row mx-auto my-auto justify-content-center">
                <div id="carouselImages" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                      <div class="col-md-3" style="margin-right: 1%">
                        <div class="card">
                          <div class="card-img">
                            <img src="assets/img/post_raid.jpg" class="img-fluid">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="carousel-control-prev carousel-control-prev1 w-aut" href="#carouselImages" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  </a>
                  <a class="carousel-control-next carousel-control-next1 w-aut" href="#carouselImages" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div id="tab-four-panel" class="panel">
            <div class="container text-center my-3">
              <div class=" partner row mx-auto my-auto justify-content-center">
                <div id="carouselImages" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                      <div class="col-md-3" style="margin-right: 1%">
                        <div class="card">
                          <div class="card-img">
                            <img src="assets/img/quick_design.jpg" class="img-fluid">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="carousel-control-prev carousel-control-prev1 w-aut" href="#carouselImages" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  </a>
                  <a class="carousel-control-next carousel-control-next1 w-aut" href="#carouselImages" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div id="tab-five-panel" class="panel">
            <h5 class="text-danger text-center mt-3 mb-3">Aucune donnee disponible</h5>
          </div>

        </div>

      </div>

    </div>

    <!--Partenaires-->Creates an AbstractControl from a user-specified configuration.

    <div class="row mb-4">
      <!--title-->
      <div class="row mb-4">
        <h3 class="text-color text-center">NOS PARTENAIRES</h3>
      </div>
      <div class="slider">
        <div class="slide-track">
          <div class="slide">
            <img src="assets/img/orange.png" height="100" width="100" alt="" />
          </div>
          <div class="slide">
            <img src="assets/img/sonatel.png" height="100" width="100" alt="" />
          </div>
          <div class="slide">
            <img src="assets/img/ilab.png" height="100" width="100" alt="" />
          </div>
          <div class="slide">
            <img src="assets/img/oss.jpeg" height="100" width="100" alt="" />
          </div>
          <div class="slide">
            <img src="assets/img/SA.jpeg" height="100" width="100" alt="" />
          </div>
          <div class="slide">
            <img src="assets/img/mect.png" height="100" width="100" alt="" />
          </div>
        </div>
      </div>

    </div>

    <!--Temoignages-->
    <div class="testimonial row mb-4">
      <!--title-->
      <div class="row mb-4">
        <h3 class="text-color text-center">TEMOIGNAGES</h3>
      </div>
      <div class="container-xl">
        <div class="row border border-dark bg-white p-3">
          <div class="mx-auto">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Carousel indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>
              <!-- Wrapper for carousel items -->
              <div class="carousel-inner" *ngIf="temoignages !== []; else notemoignage">
                <div [class.active]="isFirst" class="carousel-item" *ngFor="let temoignage of temoignages; let isFirst = first">
                  <div class="img-box">
                    <img *ngIf="temoignage.avatar; else noimg"
                        src="data:image/jpeg;base64,{{temoignage?.avatar}}" class="img-fluid"
                        alt="avatar">
                    <ng-template #noimg>
                      <img src="https://www.w3schools.com/howto/img_avatar.png" class="img-fluid" alt="img">
                    </ng-template>
                  </div>
                  <p class="testimonial">{{temoignage.message}}</p>
                  <p class="overview"><b>{{temoignage.nomComplet}}</b></p>
                </div>
              </div>
              <ng-template #notemoignage>
                <div class="carousel-item">
                  <h5 class="text-danger text-center mt-3 mb-3">Aucune donnee disponible pour le moment</h5>
                </div>
              </ng-template>
              <!-- Carousel controls -->
              <a class="carousel-control-prev w-aut" href="#myCarousel" role="button" data-bs-slide="prev">
                <i class="fa fa-angle-left"></i>
              </a>
              <a class="carousel-control-next w-aut" href="#myCarousel" role="button" data-bs-slide="next">
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-top></app-top>
