<div class="container-fluide">
  <!-- Carousel -->
  <div class="carousel">
    <app-carousel></app-carousel>
  </div>

  <!-- Koori-Ibox -->
  <div class="koori-ibox">
    <app-koori-ibox></app-koori-ibox>
  </div>

  <!-- Les services -->
  <div class="list-services">
    <app-card-service></app-card-service>
  </div>

  <!-- Les projets recents -->
  <div class="list-projets">
    <app-projets></app-projets>
  </div>
  
  <!-- Partenaires -->
  <div class="list-partenaires">
    <app-partenaires></app-partenaires>
  </div>

  <!-- Temoignages -->
  <div class="list-temoignages">
    <app-temoignage></app-temoignage>
  </div>

</div>
<app-top></app-top>
