.avatar {
  border-radius: 50%;
  vertical-align: middle;
}

.rating {
  border: none;
}

.rating>[id^="star"] {
  display: none
}

.rating>label:before {
  margin: 5px;
  font-size: 2.25em;
  font-family: FontAwesome, serif;
  display: inline-block;
  content: "\f005"
}

.rating>.half:before {
  content: "\f089";
  position: absolute
}

.rating>label {
  color: #ddd;
  float: right
}
