<footer class="text-center text-lg-start text-muted">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom" style="background-color: #000000">
    <div class="me-5 d-none d-lg-block">
      <span>InnovationLab Sonatel @ All rights reserved.</span>
    </div>
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f mr-2"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter mr-2"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram mr-2"></i>
      </a>
      <a href="" class="me-4 text-reset mr-2">
        <i class="fab fa-youtube"></i>
      </a>
    </div>
  </section>
</footer>
