<button type="button" class="draw meet float-end" data-bs-toggle="modal" (click)="openModalDemande(template)">Faire une demande</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left w-75 mt-3 fs-4">Demande de Service</h4>
    <i class="fa-solid fa-circle-xmark fs-4" (click)="onCancel()"></i>
  </div>
  <div class="modal-body">
    
    <form id="contact-form" [formGroup]="demandeForm">
      <div class="row"> 
              
              <div class="col-lg-12 col-md-12">
                  <div class="form-group mx-3 fs-5 mt-3">
                      <label>Choisir le service à demander</label>
                      <select name="ServiceId" id="service" formControlName="ServiceId" class="form-control-1 mt-2 py-2">
                          <option  *ngFor="let service  of services" value="{{ service.id }}" > {{ service.libelle }} </option>
                      </select>
                  </div>
              </div>
          
              <div class="col-lg-12 col-md-12">
                  <div class="form-group mx-3 fs-5 mt-3">
                      <label>Objet ou Challange</label>
                      <input  class="form-control mt-2 fs-5" formControlName="titre" name="titre"  required>
                  </div>
                  <div class="error-text" *ngIf="demandeForm.controls['titre'].hasError('required') && demandeForm.controls['titre'].touched">
                      <p class="ms-3 mt-1 text-danger">Renseignez l'object de votre demande !</p>
                  </div>
              </div>

              <div class="col-lg-12 col-md-12">
                  <div class="form-group mx-3 fs-5 mt-3">
                      <label>Description</label>
                      <textarea  class="form-control mt-2 fs-5" formControlName="description" name="description"  required></textarea>
                  </div>
                  <div class="error-text" *ngIf="demandeForm.controls['description'].hasError('required') && demandeForm.controls['description'].touched">
                      <p class="ms-3 mt-1 text-danger">Donnez une description !</p>
                  </div>
              </div>

              <div class="col-lg-12 col-md-12">
                  <div class="form-group mx-3 fs-5 mt-3">
                      <label>Date souhaitée</label>
                      <input  class="form-control mt-2" formControlName="date_realisation" name="date_realisatio"  type="date" required>
                  </div>
                  
              </div>     

              <div class="col-lg-12 col-md-12">
                <div class="form-group d-flex justify-content-center fs-5 mt-3">
                    <button type="button" class="btn btn-lg envoyer" (click)="onsubmit()">Envoyer votre demande</button>
                </div>
                
            </div>
      </div>
    </form>   

  </div>
</ng-template>
