@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

.bg-bar{
	background: var(--vert);
	color :white;
}

.titre{
	font-family: 'Merienda', cursive;
	color: var(--orange);
  }
  mat-button-toggle-group{
	border: none;
  }
  mat-button-toggle{
	width: 8%;
	border-radius: 12px 12px 0 0;
  }