/*Partenaires*/
@keyframes scroll {
	0% {
	  transform: translateX(0);
	}
	100% {
	  transform: translateX(calc(-250px * 7));
	}
  }
  .container{
	margin: auto;
	padding: 3%;
  }
  .slider {
	/* background: rgba(197, 102, 51, 0.511); */
	margin: auto;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	border-radius: 8px;
	/* border: 1px solid #338f8e; */
	position: relative;
  }

  .slider .slide-track {
	animation: scroll 60s linear 2s infinite ;
	display: flex;
	width: calc(250px * 14);
  }
  .slider .slide {
	height: 100px;
	width: 250px;
  }
    
  .title{
	font-size: 1.8em;
	font-weight: 500;
  }

  .example-card {
	max-width: 300px;
	margin-bottom: 8px;
	padding: 0;
	display: flex;
	justify-content: space-between;
  }

  .card-title{
	font-size: 1.5em;
	color: var(--orange);
  }