<div class="row container" >
    <!--title-->
    <div class="row mb-4">
      <h2 class="text-color text-center title">NOS PARTENAIRES</h2>
    </div>
    <div class="slider mt-4 py-4">
      
      <div class="card my-4" *ngFor="let part of parteners" style="max-width: 500px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ part.image }}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title title"></h5>
              <p class="card-text w-20">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Depuis plus de 2 ans</small></p>
            </div>
          </div>
        </div>
      </div>

    </div>

</div>

