<div class="row container" >
    <!--title-->
    <div class="row mb-4">
      <h2 class="text-color text-center title">NOS PARTENAIRES</h2>
    </div>
    <div class="slider">
      <div class="slide-track">
        <div class="slide">
          <img src="assets/img/orange.png" height="100" width="100" alt="" />
        </div>
        <div class="slide">
          <img src="assets/img/sonatel.png" height="100" width="100" alt="" />
        </div>
        <div class="slide">
          <img src="assets/img/ilab.png" height="100" width="100" alt="" />
        </div>
        <div class="slide">
          <img src="assets/img/oss.jpeg" height="100" width="100" alt="" />
        </div>
        <div class="slide">
          <img src="assets/img/SA.jpeg" height="100" width="100" alt="" />
        </div>
        <div class="slide">
          <img src="assets/img/mect.png" height="100" width="100" alt="" />
        </div>
      </div>
    </div>

</div>

