@import "../kooriibox/kooriibox.component.css";

.text {
  text-transform: uppercase;
  background: linear-gradient(to right, var(--vert) 0%, var(--orange) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: large;
}
.fa-close{
  color: red;
}
.fa-file-alt{
  color: var(--orange);
}
.modal-content{
  border-radius: 2%;
}
.modal-header{
  background: #EFEFEF;
  border-radius: 5px;
}

.wrap {
  position: relative;
}
.form-label {
  float: left;
}
label{
  color: rgba(68, 68, 68, 0.6);
}



.form-control:focus,.form-control:hover {
  border: solid 1px var(--orange);
  outline: none;
  box-shadow: 0 0 0 0;
}

.after_comment{
  width:60%;
}