<button type="button" class="btn btn-default button-2 text-white" style="font-size: large; padding: 1%; border-radius: 6px;" id="button1" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  <i class="fas fa-location-arrow mr-5"></i>
  <span class="ms-2">Soumettre votre evaluation</span>
</button>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" >
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="text modal-title" id="staticBackdropLabel" style="margin: auto">Faites-nous un retour apres lecture</h6>
        <button #closebutton type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
          <i class="fas fa-close"></i>
        </button>
      </div>
      
      <div class="modal-body">
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
          <label class="form-label">Prenom et Nom</label>
          <input type="text" value="Papa Saliou MBODJ" class="form-control mb-2">
          <label class="form-label">Email <label style="color: red">*</label></label>
          <input value="mainashou@gmail.com" [ngClass]="{ 'is-invalid': submitted && f['to'].errors }" type="email" [formControlName]="'to'" class="form-control mb-2">
          <div *ngIf="submitted && f['to'].errors" class="input_alert">
            <div *ngIf="f['to'].errors['required'] || f['to'].errors['pattern']" class="alert-danger">Format email(Ex: rty21&@dfgh.dfg)</div>
          </div>
          <label class="form-label">Commentaire <label style="color: red">*</label></label>
          <textarea [ngClass]="{ 'is-invalid': submitted && f['text'].errors }" [formControlName]="'text'" class="form-control mb-2"></textarea>
          <div *ngIf="submitted && f['text'].errors" class="input_alert">
            <div *ngIf="f['text'].errors['required'] || f['text'].errors['pattern']" class="alert-danger">Ecrivez un commentaire</div>
          </div>
          <button type="submit" class="btn btn-evaluer mt-1">Soumettre</button>
        </form>
      </div>
      
    </div>
  </div>
</div>
