<rating (click)="onEvaluate()" style="color: var(--orange);font-size: 40px;" [(ngModel)]="rate" [max]="5" [readonly]="isReadOnly">
</rating>   

<form [formGroup]="evaluationForm" class="m-2"  *ngIf="!isSubmitted && isEvaluated" >
    <div class="d-flex flex-start mx-auto w-50 ">
      <div class="form-outline w-100">
        <label class="form-label" for="commentaire">Ajoutez un avis <mat-icon matSuffix>sentiment_very_satisfied</mat-icon></label>
        <textarea class="form-control" id="commentaire" formControlName="commentaire" rows="4"
          style="background: #fff;"></textarea>
          <mat-icon aria-hidden="false"   aria-label="Example home icon" (click) = "onSubmit()" style="color: var(--orange);cursor:pointer;"  fontIcon="send" ></mat-icon>
      </div>
    </div>
</form>

<div class = "after_comment row mx-auto" *ngIf="isSubmitted" >
    <div class="card col-4 mx-auto">
        <div class="card-body">
            <p class="card-text">{{ comment }}</p>
            <div class = "d-flex justify-content-end" style="color: var(--orange);cursor:pointer;" >
                <p  (click) = "onModify()" title="Modifier votre evaluation"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon></p>
            </div>
        </div>
    </div>
</div>

