<div class="container-fluid">
	<div class="row row-koori">
		<div class="containe">
			<div class="col-7 koori-desc">
				<h1>KOORI</h1>
				<p class="description ml-4 px-4">
					{{koori.description | summarize: 490}}
				</p>
			</div>
			<div class="col-5">
				<p class="image">
					<img src="assets/img/koori.png" alt="" class="shadow" routerLink="/home/kooriibox/koori">
				</p>
			</div>
		</div>
	</div>

	<div class="row row-ibox">
		<div class="containe">
			<div class="col-5">
				<p class="image">
					<img src="assets/img/ibox.png" alt="" class="shadow" routerLink="/home/kooriibox/ibox">
				</p>
			</div>
			<div class="col-7 ibox-desc">
				<h1>IBOX</h1>
				<p class="description mr-4 px-4">
					{{ibox.description | summarize: 490}}
				</p>
			</div>
		</div>
	</div>

	<div class="row">
		
		<div class="contributeur m-auto p-0">
			<div class="col-md-7 col-sm-12 col-lg-12 col-xl-12">
				  <div class="container text-center">
				<div class=" partner m-auto justify-content-center">
					<h2 class="title-contributuer">Les Contributeurs</h2>
					<div class="col-12 m-auto text-contributeurs">
						<div class="card">
							<div class="card-body">
							<span>
								Sonatel œuvre continuellement dans le renforcement de l’entreprenariat dans le domaine des TIC et réaffirme son engagement à œuvrer pour le développement de l’économie numérique au Sénégal...
							</span>
							</div>
						</div>
					</div>
				  <div id="carouselImages" class="carousel slide mt-3" data-bs-ride="carousel">
					<div class="carousel-inner" role="listbox">
					  <div class="carousel-item active">
						<div class="col-md-4">
						  <div class="">
							<div class="card-img text-center">
							  <img src="./assets/img/aissatou.jpeg" alt="aissatou" class="img-thumbnail rounded-circle">
							</div>
							<div class="">
							  <p class="nom mt-2 font-weight-bold text-center">Mame Aissatou Diagne</p>
							  <span class="text-wrap">Contrôleur de gestion Senior, Consultante en coaching professionnel et personnel</span>
							</div>
						  </div>
						</div>
					  </div>
					  <div class="carousel-item">
						<div class="col-md-4">
						  <div class="">
							<div class="card-img text-center">
							  <img src="./assets/img/psm.jpg" alt="" class="img-thumbnail rounded-circle">
							</div>
							<div class="">
							  <p class="nom mt-2 font-weight-bold text-center">Papa Saliou MBODJ</p>
							  <span class="text-wrap">Coach innovation</span>
							</div>
						  </div>
						</div>
					  </div>
					  <div class="carousel-item">
						<div class="col-md-4">
						  <div class="">
							<div class="card-img text-center">
							  <img src="./assets/img/fode.jpeg" alt="" class="img-thumbnail rounded-circle">
							</div>
							<div class="">
							  <p class="nom mt-2 font-weight-bold text-center">Fode Niakhale TRAORE</p>
							  <span class="text-wrap">Responsable Acquisitions Jeux, Musique, Culture et Infotainment chez Orange</span>
							</div>
						  </div>
						</div>
					  </div>
					  <div class="carousel-item">
						<div class="col-md-4">
						  <div class="">
							<div class="card-img text-center">
							  <img src="./assets/img/sire.jpeg" alt="" class="img-thumbnail rounded-circle">
							</div>
							<div class="">
							  <p class="nom mt-2 font-weight-bold text-center">Sire DIAGNE</p>
							  <span class="text-wrap">Ingenieur Systeme Réseau & Cloud</span>
							</div>
						  </div>
						</div>
					  </div>
					  <div class="carousel-item">
						<div class="col-md-4">
						  <div class="">
							<div class="card-img text-center">
							  <img src="./assets/img/samba.jpeg" alt="" class="img-thumbnail rounded-circle">
							</div>
							<div class="">
							  <p class="nom mt-2 font-weight-bold text-center">Samba DIOP</p>
							  <span class="text-wrap">Ingénieur de production chez GROUPE SONATEL</span>
							</div>
						  </div>
						</div>
					  </div>
					  <div class="carousel-item">
						<div class="col-md-4">
						  <div class="">
							<div class="card-img text-center">
							  <img src="./assets/img/birahim.jpeg" alt="" class="img-thumbnail rounded-circle">
							</div>
							<div class="">
							  <p class="nom mt-2 font-weight-bold text-center">El H. Birahim GUEYE</p>
							  <span class="text-wrap">Responsable de l'innovation IT</span>
							</div>
						  </div>
						</div>
					  </div>
					  <div class="carousel-item">
						<div class="col-md-4">
						  <div class="">
							<div class="card-img text-center">
							  <img src="./assets/img/racky.png" alt="" class="img-thumbnail rounded-circle">
							</div>
							<div class="">
							  <p class="nom mt-2 font-weight-bold text-center">Racky S. WANE</p>
							  <span class="text-wrap">Directrice des Systemes d'Information</span>
							</div>
						  </div>
						</div>
					  </div>
					  <div class="carousel-item">
						<div class="col-md-4">
						  <div class="">
							<div class="card-img text-center">
							  <img src="./assets/img/kalidou.jpeg" alt="" class="img-thumbnail rounded-circle">
							</div>
							<div class="">
							  <p class="nom mt-2 font-weight-bold text-center">Kalidou SY</p>
							  <span class="text-wrap">Coach innovation</span>
							</div>
						  </div>
						</div>
					  </div>
					  <div class="carousel-item">
						<div class="col-md-4">
						  <div class="">
							<div class="card-img text-center">
							  <img src="./assets/img/talla.jpeg" alt="" class="img-thumbnail rounded-circle">
							</div>
							<div class="">
							  <p class="nom mt-2 font-weight-bold text-center">Talla NDIAYE</p>
							  <span class="text-wrap">Responsable de l'entrepreneuriat numérique et de l'employabilité des jeunes chez @MCTPEN</span>
							</div>
						  </div>
						</div>
					  </div>
					  <div class="carousel-item">
						<div class="col-md-4">
						  <div class="">
							<div class="card-img text-center">
							  <img src="./assets/img/ndongo.jpeg"  alt="" class="img-thumbnail rounded-circle">
							</div>
							<div class="">
							  <p class="nom mt-2 font-weight-bold text-center">Ndongo SAMB</p>
							  <span class="text-wrap">Passionné du développement, consultant IT</span>
							</div>
						  </div>
						</div>
					  </div>
					</div>
					<a style="margin-left: -15%;" class="carousel-control-prev bg-transparent rounded-circle" href="#carouselImages" role="button" data-bs-slide="prev">
					  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					</a>
					<a style="margin-right: -15%;" class="carousel-control-next bg-transparent rounded-circle" href="#carouselImages" role="button" data-bs-slide="next">
					  <span class="carousel-control-next-icon" aria-hidden="true"></span>
					</a>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
	</div>
</div>

