label {
    color: var(--vert);
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
  }
.sujet{
    width: 25%;
}
.modal-header{
  background-color: var(--vert);
  color: #fff;
}
.fa-circle-xmark{
  cursor: pointer;
}
.envoyer{
  background-color: var(--vert);
  color: #fff;
}
#service{
  height: 40px;
  background-color: #fff;
  outline: none;
}
#service:focus{
  border: 1px solid var(--vert);
}
