<div class="col-sm-4 col-lg-12 mt-2 mb-2">
    <div class="m-0 row row-container p-3" style="background: white;">
      <!-- <div class="col-sm-1 col-lg-1 m-auto text-center">
        {{ user.nomComplet }}
      </div>
      <div class="col-sm-2 col-lg-2 m-auto text-center">
        {{ user.email }}
      </div> -->
      <div class="col-sm-2 col-lg-2 m-auto text-center">
        {{ demande.titre }}
      </div>
      
      <div class="col-sm-3 col-lg-3 m-auto text-center" *ngIf="!isClicked">
        <i class="fa fa-circle circle{{demande.id}}" [style.color]="colors[statuts.indexOf(demande.statut)]"></i>
        <span class="span{{demande.id}}" style="margin-left: 3%">{{demande.statut}}</span>
      </div>   
      <div class="col-sm-3 col-lg-3 m-auto text-center"   *ngIf="isClicked && demande.statut == 'Nouvelle'">
          <select class='form-select' id="statut{{demande.id}}"  style='border-color: var(--vert);border: solid 1px var(--vert); box-shadow: 0 0 0 0.1rem var(--vert); outline: none;'>
            <option value='en attente'>En attente</option>
            <option value='rejetee'>Rejetee</option>
          </select>
      </div>
      <div class="col-sm-3 col-lg-3 m-auto text-center"   *ngIf="isClicked && demande.statut == 'En attente'">
        <select class='form-select' id="statut{{demande.id}}"  style='border-color: var(--vert);border: solid 1px var(--vert); box-shadow: 0 0 0 0.1rem var(--vert); outline: none;'>
            <option value='validee'>Validee</option>
            <option value='annulee'>Annulee</option>
            <option value='Traitee'>Traitee</option>
        </select>
    </div>
    <div class="col-sm-1 col-lg-1 m-auto  text-center"  *ngIf="isValidated && demande.statut == 'Validee'">
        <button class="btn btn-sm " (click)=" downloadExcelFile($event)">
        <i class="fas fa-file-excel fa-2x'"  style="color: green"></i>
        </button>
      </div> 
      <div class="col-sm-1 col-lg-1 m-auto  text-center"  *ngIf="!isClicked && !isValidated">
        <button class="btn btn-sm " (click)="changeStatut()">
        <i class="fas fa-pencil-alt"  style="color: var(--orange)"></i>
        </button>
      </div> 
      <div class="col-sm-1 col-lg-1 m-auto  text-center"  *ngIf="isClicked">
        <button class="btn btn-sm btn{{demande.id}}" (click)="saveChangeStatut($event)">
        <i class="fas fa-check" id="{{demande.id}}" style="color: green"></i>
        </button>
      </div> 
    </div>
</div>
