label {
    color: var(--vert);
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
  }
  textarea{
    background: #ECECEC; 
    box-shadow: 0 0 0 0.1rem var(--vert);
    border-radius: 2px; border: solid 1px var(--vert); 
  }
.sujet{
    width: 25%;
}
.modal-header{
  background-color: var(--vert);
  color: #fff;
}
.fa-circle-xmark{
  cursor: pointer;
}
.envoyer{
  background-color: var(--vert);
  color: #fff;
}
#service{
  height: 40px;
}