<div class="col-sm-4 col-lg-12 mt-2 mb-2">
    <div class="m-0 row row-container p-3" style="background: white;">
     
      <div class="col-sm-2 col-lg-2 m-auto text-center">
        {{ demande.titre }}
      </div>
      
      <div class="col-sm-3 col-lg-3 m-auto text-center" id="statut{{demande.id}}" *ngIf="!isClicked">
        <i class="fa fa-circle circle{{demande.id}}" [style.color]="colors[statuts.indexOf(demande.statut)]"></i>
        <span class="span{{demande.id}}" style="margin-left: 3%">{{demande.statut}}</span>
      </div> 
