<nav class="navbar navbar-dark sticky-top navbar-expand-lg menu1" style="background: var(--vert)">
	<div class="container">
	  <div class="navbar-collapse collapse" id="navbarNav1">
		<ul class="navbar-nav justify-content-between text-light">
		  <li class="nav-item dropdown me-3">
			<i class="fas fa-phone-alt me-2"></i>338606060
		  </li>
		  <li class="nav-item me-3">
			<i class="fas fa-envelope me-2"></i>ilab@gmail.com
		  </li>
		  <li class="nav-item">
			<i class="fas fa-clock me-2"></i>Lun-Vend 8h-17h
		  </li>
		</ul>
		<ul class="navbar-nav-bas ms-auto w-25 d-flex justify-content-around">
		  <li class="nav-item">
			<a class="nav-link">
			  <i class="fab fa-twitter fa-lg"></i>
			</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link">
			  <i class="fab fa-facebook fa-lg"></i>
			</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link waves-effect waves-light">
			  <i class="fab fa-instagram fa-lg"></i>
			</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link waves-effect waves-light">
			  <i class="fab fa-youtube fa-lg"></i>
			</a>
		  </li>
		</ul>
	  </div>
	</div>
  </nav>
  <nav class="navbar navbar-dark sticky-top navbar-expand-lg bg-white menu">
	<div class="container">
	  <a class="navbar-brand" [routerLink]="['home']"><img src="assets/img/logo.png" alt="" width="50" height="50"></a>
	  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="navbar-collapse collapse" id="navbarNav">
		<ul class="navbar-nav justify-content-between">
		  <li class="nav-item dropdown" (click)="open()">
			<a [routerLink]="['kooriibox']" [routerLinkActive]="['active-link']" class="nav-link scroll-link">Koori et Ibox</a>
		  </li>
		  <li class="nav-item">
			<a [routerLink]="['service']"  [routerLinkActive]="['active-link']" class="nav-link scroll-link" >Catalogue de Services</a>
		  </li>
		  <li class="nav-item">
			<a [routerLink]="['rapport']" [routerLinkActive]="['active-link']" class="nav-link scroll-link" href="#section-2">Rapports</a>
		  </li>
		  <li class="nav-item">
			<a [routerLink]="['apropos']" [routerLinkActive]="['active-link']" class="nav-link scroll-link">A propos de nous</a>
		  </li>
		  <li class="nav-item">
			<a [routerLink]="['contact']" [routerLinkActive]="['active-link']" class="nav-link scroll-link">Contactez-nous</a>
		  </li>
		  <li class="nav-item">
			<a [routerLink]="['communaute']" [routerLinkActive]="['active-link']" class="nav-link scroll-link">Communauté</a>
		  </li>
		</ul>
		<ul class="navbar-nav-bas ms-auto">
		  <li class="nav-item">
			<a class="nav-link">
			  <i class="fas fa-user-circle fa-lg"></i>
			</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link">
			  <i class="fas fa-bell fa-lg"></i>
			</a>
		  </li>
		</ul>
	  </div>
	</div>
  </nav>
  
