
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containe {
  width: 100%;
  background-color: #ff6f0050;
  padding: 3% 8%;
}

.title {
  text-align: center;
  margin-bottom: 2%;
  font-weight: 500;
  font-size: 2em;
  position: relative;
  color: #338f8e;
  transform: uppercase;
}

.row-service {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
}

.service {
  text-align: center;
  padding: 25px 10px;
  border-radius: 10px;
  font-size: 14px;
  width: 22%;
  height: 38vh;
  margin: 1.5rem 2rem;
  cursor: pointer;
  background: transparent;
  transition: all 0.5s, background 0.5s;
  box-shadow: 0px 0px 4px #48484883;
  background-color: rgba(255, 255, 255, 0.597);
}

.service img {
	width: 50%;
  height: 50%;
  font-size: 40px;
  margin-bottom: 10px;
}

.service h2 {
  font-weight: 400;
  margin-bottom: 8px;
}

.service p {
  width: 80%;
  margin: auto;
}

.service:hover {
  background: #338f8ecd;
  color: #fff;
  transform: scale(1.05);
}

.service:hover h2{
  color: #fff;
}

