.menu a{
	font-weight: 500;
  }
  .menu1 a{
	color: black ;
	font-weight: 500;
  }
  .btn-color{
	background-color: var(--vert);
	color:  #fff;
  }
  .icononmenu i{
	color: var(--vert);
  }
  .nav-link{
	color: var(--vert);
	margin: 0 0.3vw;
  }
  .navbar-nav .nav-link:hover {
	color: var(--orange);
  }
  .navbar-nav-bas .nav-link:hover {
	color: var(--orange);
  }
  .active-link {
	background-color: var(--orange);
	color: #fff;
	border-radius: 3%;
  }
  .collapsed{
	background-color: var(--vert);
  }
  .navbar-nav .active-link:hover{
	color: var(--white);
  }
  .navbar-nav-bas .active-link:hover{
	color: var(--white);
  }
  .navbar-nav-bas{
	display: flex;
	/*flex-direction:column;*/
	/*padding-left: 50%;*/
	float: right;
	margin-bottom: 0;
	list-style: none;
  }
  @media only screen and (max-width: 768px) {
	.navbar-nav{
	  text-align: center;
	}
	.navbar-nav-bas{
	  display: flex;
	  /*flex-direction:column;*/
	  /*padding-left: 50%;*/
	  float: right;
	  margin-bottom: 0;
	  list-style: none;
	}
  }
  
  @media only screen and (max-width: 1399px) and (min-width: 1000px)  {
	.navbar-nav{
	  font-size: 12px;
	}
	.navbar-nav-bas{
	  display: flex;
	  /*flex-direction:column;*/
	  /*padding-left: 50%;*/
	  float: right;
	  margin-bottom: 0;
	  list-style: none;
	}
  }
  
  .inscription{
	background-color: var(--vert);
	color: #fff;
  }
  mat-expansion-panel{
	position: absolute;
	top: 1.4vh;
  }
  mat-list-item{
	cursor: pointer;
  }

  .btn-outline-info{
	color: var(--vert);
	border-color: var(--vert);
  }
  .active-link, .btn-outline-info:hover{
	color: #fff;
	background-color: var(--vert);
  }

.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.navbar .dropdown-menu a:hover {
    color: #616161 !important;
}
.darken-grey-text {
    color: #2E2E2E;
}

#navbarNav{
	align-items: center;
}
.dropdown{
	cursor: pointer;
}

.separate{
	color: var(--vert);
}

.btn-demande{
	background-color: var(--vert);
	color: #fff;
	cursor: pointer;
	transition: all 0.25s ease;
}
.btn-demande:hover{
	transform: scale(1.05);
}
.navigation{
	width: 70%;
}
.error-text{
	color:red;
}
body.modal{
	overflow: hidden;
}
input:focus{
	outline: none !important;
}
.btn-send{
	background-color: var(--vert);
	color: #fff;
}
label{
	color: var(--vert);
}

.modal-header{
	background-color: var(--vert);
	color: #fff;
}
.form-control-1{
	width: 100%;
	border: none;
	color: var(--orange);
}
.form-control-1:focus{
	outline: none;
}
.form-control:focus, .form-control-1:focus {
	border-color: transparent !important;
  }
  .nav-link-user{
	text-decoration: none;
	color: var(--vert);
  }
  .focus{
	background-color: var(--vert);
	color: #fff;
  }