<nav class="navbar navbar-dark sticky-top navbar-expand-lg menu1" style="background: var(--vert)">
    <div class="container">
        <div class="navbar-collapse collapse" id="navbarNav1">
            <ul class="navbar-nav justify-content-between text-light">
                <li class="nav-item dropdown me-3">
                    <i class="fas fa-phone-alt me-2"></i>338606060
                </li>
                <li class="nav-item me-3">
                    <i class="fas fa-envelope me-2"></i>ilab@gmail.com
                </li>
                <li class="nav-item">
                    <i class="fas fa-clock me-2"></i>Lun-Vend 8h-17h
                </li>
                <li class="nav-item" routerLink="/home/service">
                    Service
                </li>
            </ul>
            <ul class="navbar-nav-bas ms-auto w-25 d-flex justify-content-around">
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="fab fa-twitter fa-lg"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="fab fa-facebook fa-lg"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light">
                        <i class="fab fa-instagram fa-lg"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light">
                        <i class="fab fa-youtube fa-lg"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar navbar-dark sticky-top navbar-expand-lg bg-white menu">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['home']"><img src="assets/img/logo.png" alt="" width="50" height="50"></a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
        <div class="navbar-collapse collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav justify-content-between">
                <li class="nav-item dropdown">
                    <a routerLink="/home/kooriibox" routerLinkActive="active-link" class="nav-link scroll-link fs-6">Koori et Ibox</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/home/service" routerLinkActive="active-link" class="nav-link scroll-link fs-6">Catalogue de Services</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/home/apropos" routerLinkActive="active-link" class="nav-link scroll-link fs-6">A propos de nous</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/home/rapport" routerLinkActive="active-link" class="nav-link scroll-link fs-6" *ngIf="(currentUser$ | async) !== null">Rapport</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/home/contact" routerLinkActive="active-link" class="nav-link scroll-link fs-6">Contactez-nous</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/home/communaute" routerLinkActive="active-link" class="nav-link scroll-link fs-6">Communauté</a>
                </li>
            </ul>
            <ul class="navbar-nav-bas ms-auto" *ngIf="!((currentUser$ | async) !== null)">

                <li class="nav-item mx-3 fs-6">
                    <a class="nav-link" >
                        <button type="button" routerLink="home/signin" routerLinkActive="active-link" class="btn btn-sm btn-outline-info">Se connecter</button>
                    </a>
                </li>
                <li class="nav-item mx-3 fs-6">
                    <a class="nav-link" >
                        <button type="button" routerLink="home/signup" routerLinkActive="active-link" class="btn btn-sm btn-outline-info">S'inscrire</button>
                    </a>
                </li>

            </ul>

            <ul class="navbar-nav justify-content-between" *ngIf="(currentUser$ | async) !== null">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle fs-6" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user fs-5"></i> &nbsp;{{ (currentUser$ | async)?.nomComplet }}
                        </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-unique" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item py-3 fs-6" routerLink="/home/profil">
                            <i class="fa-regular fa-address-card"></i>&nbsp; Profil
                        </a>
                        <a class="dropdown-item py-3 fs-6" routerLink="admin/dashboard" *ngIf="(currentUser$ | async)?.ProfilId === 1">
                            <i class="fa-solid fa-gauge"></i>&nbsp; Dashborad
                        </a>
                        <a class="dropdown-item py-3 fs-6" routerLink="/home/profil/mesDemandes">
                            <i class="fa-solid fa-list-ul"></i>&nbsp; Demandes
                        </a>
                        <a class="dropdown-item py-3 fs-6" routerLink="/home" (click)="logout()">
                            <i class="fa-solid fa-power-off"></i>&nbsp; Deconnexion
                        </a>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</nav>

