<div class="container">
  <app-nav-link-service></app-nav-link-service>

  <div class="row p-5 mb-3">
    <div class="col-xl-8 col-sm-12 col-md-12">
        <div class="card">
          <img class="img-thumbnail w-100 h-100" src="assets/img/bootcamp.png" alt="pp">
          <ng-template #other>
            <img *ngIf="service.avatar;else other" class="card-img" src="data:image/jpeg;base64,{{service.avatar}}" alt="Card image">
          </ng-template>
      </div>
    </div>
    <div class="col-xl-4 col-sm-12 col-md-12 parti-caracteristiques">
      <div class="card card-5">
        <div class="card-body ">
          <h3 class="card-title text-center">{{ service.libelle | uppercase }}</h3>
          <h5 class="card-title text-center">{{service.nom_des_clients }}</h5>
          <h6 class="card-title text-center">{{service.type_de_service }}</h6>

          <div class="scroller">
            <p class="card-text">{{service.description }}  </p>
          </div>            
        <app-demande [libelleService] = "service.libelle"></app-demande>
          
        </div>
      </div>
    </div>
  </div>

  <!-- les propriete d'un service -->
  <h3 class="text-color text-center mb-5">PROPRIETE D'UN SERVICE</h3>
  <div class="container gallery mb-3 ">
    <div class="row">
      <div class=" col-sm-5">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12  p-text ">
            <h4 class="text-center title-proprety">Bénéfices client</h4>
            <p class="p">{{service.benefices_client}}</p>

          </div>
          <div class="col-xl-12 col-md-12 col-sm-12  p-text">
            <h4 class="text-center title-proprety">Liste des applications métiers supportées :</h4>
            <p class="p"> {{service.liste_des_applications_metiers_supporte}} </p>
           </div>
          <div class="col-xl-12 col-md-12 col-sm-12 p-text">
            <h4 class="text-center title-proprety">Description des éléments du service</h4>
            <p class="p">{{service.description_elements_service}}</p>
          </div>
        </div>

      </div>
      <div class="col-sm-7 mb-3">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12  p-text">
           <h4 class="text-center title-proprety">Engagement/ Niveaux de service:</h4>
           <p class="p"> Délais de réalisation : {{service.engagement_niveaux_service}}</p>
          </div>
          <div class="col-xl-12 col-md-12 col-sm-12  p-text">
            <h4 class="text-center title-proprety">Plages d’horaires</h4>
            <p class="p">{{service.plage_horaire}}</p>
          </div>
          <div class="col-xl-12 col-md-12 col-sm-12 p-text">
            <h4 class="text-center title-proprety">Indicateurs de mesure & qualité</h4>
            <p class="p" > {{service.indicateur_mesure_qualite}}</p>
          </div>
          <div class="col-xl-12 col-md-12 col-sm-12  p-text">
           <h4 class="text-center title-proprety"> Livrables</h4>
            <p class="p">{{service.livrables}}</p>
          </div>
          <div class="col-xl-12 col-md-12 col-sm-12  p-text">
            <h4 class="text-center title-proprety">Suivi & gestion de la relation client</h4>
            <p class="p">Comite de pilotage du raid : {{service.suivi_gestion_relation_client}}</p>
          </div>
          <div class="col-xl-12 col-md-12 col-sm-12  p-text">
            <h4 class="text-center title-proprety">Tarifs & Facturation</h4>
            <p class="p">{{service.tarifs_et_Facturation}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- affichage des session -->
  <div class="row d-flex justify-content-md-center mt-4">
      <!--title-->
      <div class=" row mb-4">
        <div class="col-8 mt-4">
          <h2 class="font-weight-bold text-color">SESSION {{ service.libelle | uppercase}} RECENTS</h2>
        </div>
        <!-- bouton vers le lien rapport -->
        <div class="col parti-rapport">
          <button class="draw meet">
            <a href="http://localhost:4201/rapport" style="text-decoration: none; color: var(--orange);"> Voir mes realisations</a></button>
        </div>
      </div>
  </div>
  <!-- <app-session></app-session> -->

</div>
