<li class="nav-item mx-3">
	<a class="nav-link">
		<button type="button" mat-raised-button class="btn-color btn-sn" (click)="openModal(template)">Se connecter</button>
	</a>
</li>




<ng-template #template >
	<div class="modal-body">
		 <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef.hide()"></button>
			 <h2 class="text-center titre mt-5 pt-5">Connexion</h2>	 
			 <div *ngIf="!isValid" class="text-center text-danger" >{{ error }}</div>
			   <form class=" p-lg-5" [formGroup]="signinForm" (ngSubmit)="onSubmitForm()">
				 <div class="mb-3">
				   <input type="email" class="form-control"  formControlName="email" id="Username" aria-describedby="emailHelp"
					 placeholder="Email">
				 </div>
				 <div class="mb-3">
				   <input type="password" class="form-control" id="password" placeholder="Mot de passe" formControlName="password">
				 </div>
				 <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100">Se connecter</button></div>
				 <div id="emailHelp" class="form-text text-center mb-5 text-dark">Pas de compte? <a href="#" class=" fw-bold" > Creer un compte des maintenant</a>
				 </div>
			   </form>
			 </div>
	
 </ng-template>

