@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900|Poppins:400,500');

	 body {
	  margin: 0;
	  padding: 0;
	  background: #f6f6f6;
	  font-family: 'Poppins', sans-serif;
	  margin: auto;
	  width: 2000px;
	}

	.btn-color{
		background-color: var(--vert);
		color:  #fff;


	  }

	  .profile-image-pic{
		height: 200px;
		width: 200px;
		object-fit: cover;
	  }



	  .cardbody-color{
		background-color: #fff;
	  }

	  a{
		text-decoration: none;
	  }

	.close{
		width:35px;
		height:35px;
	}
	.fw-bold{
		color:var(--vert)
	}
	
	.titre{
		color:var(--vert)
	}

	li{
		list-style-type: none;
	}
	