/* You can add global styles to this file, and also import other style files */


/* You can add global styles to this file, and also import other style files */

@import "../node_modules/font-awesome/css/font-awesome.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

/* @import '~@riapacheco/yutes/main.scss'; For stripping styles & antialiasing */


/* @import '~@riapacheco/yutes/seasonal.scss'; To access dark color palette */


/* @import "../node_modules/@fortawesome/fontawesome-free/css/all.css"; */

:root {
    --fond: #E5E5E5;
    --vert: #338F8E;
    --white: rgba(255, 255, 255, 0.6);
    --orange: #FF7713;
    --border-size: 1px solid;
}

body {
    background-color: var(--fond);
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar {
    width: 6px;
}

.bar-title {
    background-color: var(--vert);
    color: var(--orange);
}

.text-color {
    color: var(--vert);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
  border: 1px solid var(--vert);
}

